<ngx-content-header [breadcrumbs]="breadcrumbs"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid">
    <nb-card>
        <nb-card-body>
            <form method="POST" (ngSubmit)="submitForm()" enctype="multipart/form-data" #seoForm="ngForm" class="form-wrap">
                <div class="form-group">
                    <label>Page Title</label>
                    <input type="text" nbInput name="title" ngModel #title="ngModel" [(ngModel)]="seoResponse.title" class="input-full-width size-medium status-basic" placeholder="Enter Page Title" required>
                    <ngx-validation-error [notValid]="notValid(title)" [valid]="valid(title)"></ngx-validation-error>
                </div>
                <div class="form-group">
                    <label>URL</label>
                    <input type="url" nbInput name="url" ngModel #url="ngModel" [(ngModel)]="seoResponse.url" class="input-full-width size-medium status-basic" placeholder="Enter Page URL" required>
                    <ngx-validation-error [notValid]="notValid(url)" [valid]="valid(url)"></ngx-validation-error>
                </div>
                <div class="form-group">
                    <label>Meta Title</label>
                    <input type="text" nbInput name="meta_title" ngModel #meta_title="ngModel" [(ngModel)]="seoResponse.meta_title" class="input-full-width size-medium status-basic" placeholder="Enter Meta Title" required>
                    <ngx-validation-error [notValid]="notValid(meta_title)" [valid]="valid(meta_title)"></ngx-validation-error>
                </div>
                <div class="form-group">
                    <label>Meta Keywords</label>
                    <input type="text" nbInput name="meta_keywords" ngModel #meta_keywords="ngModel" [(ngModel)]="seoResponse.meta_keywords" class="input-full-width size-medium status-basic" placeholder="Enter Meta Keywords" required>
                    <ngx-validation-error [notValid]="notValid(meta_keywords)" [valid]="valid(meta_keywords)"></ngx-validation-error>
                </div>
                <div class="form-group">
                    <label>Meta Description</label>
                    <textarea nbInput fullWidth name="meta_description" #meta_description="ngModel" [(ngModel)]="seoResponse.meta_description" placeholder="Enter Meta Description" required="required"></textarea>
                    <ngx-validation-error [notValid]="notValid(meta_description)" [valid]="valid(meta_description)"></ngx-validation-error>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="!seoForm.form.valid" nbButton [status]="'success'" [size]="'small'" outline>Save Page</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</section>