<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'general'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="box-body">
    <div class="box">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="box-body">
                    <div>
                        <form >
                            <div class="form-group-wrapper">
                                <div class="form_card">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Name</label><br>
                                                <input type="text" class="form-control" required name="name"
                                                       value=""  autofocus placeholder="Name">
                                                <label id="name-error" class="error" for="name"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Email</label><br>
                                                <input type="email" class="form-control" name="email"
                                                       value="" required placeholder="Email">
                                                <label id="email-error" class="error" for="email"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Phone</label><br>
                                                <input type="tel" class="form-control" name="mobile" id="mobile"
                                                       value="" required placeholder="Phone No.">
                                                <label id="mobile-error" class="error" for="mobile"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Password</label><br>
                                                <input type="password" class="form-control" name="password" id="password" required placeholder="Password">
                                                <label id="password-error" class="error" for="password"></label>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <button type="submit" class="btn btn-style btn-block">Update Info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="box-body">
                    <div>
                        <form >
                   
                            <div class="form-group-wrapper">
                                <div class="form_card">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Old Password</label><br>
                                                <input type="password" class="form-control" name="old_password" id="old_password" required placeholder="Old Password">
                                                <label id="old_password-error" class="error" for="old_password"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>New Password</label><br>
                                                <input type="password" class="form-control" name="password" id="password" required placeholder="New Password">
                                                <label id="password-error" class="error" for="password"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>New Password Confirm</label><br>
                                                <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" required placeholder="Confirm Password">
                                                <label id="password_confirmation-error" class="error" for="password_confirmation"></label>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <button type="submit" class="btn btn-success btn-sm">Update Password</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </div>
</section>