<div class="row">
  <div class="col-sm-5">
    <ul class="list-group" dnd-sortable-container [sortableData]="nodes">
      <li class="list-group-item" *ngFor="let node of nodes; let i = index" dnd-sortable [sortableIndex]="i" [dragEnabled]="false" (click)="showForm(node)">
        <label class="css-label-sortable text-white">{{node.name}}</label>
        <div class="clear"></div>
      </li>
      <li class="list-group-item"  (click)="showForm()">
        <label class="css-label-sortable text-white"><i class="fa fa-plus"></i> Add New</label>
        <div class="clear"></div>
      </li>
    </ul>
  </div>
  <div class="col-sm-7">
    <div *ngIf="shownForm">
      <nb-card>
        <nb-card-body>
          <ng-content></ng-content>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>




