.list-group-item label {
    color: #131313 !important;
    width: 95%;
  }
  
  input.menu {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    outline: none;
    height: 30px;
    transition: height 1s;
    -webkit-transition: height 1s;
  }
  
  
  h6 {
    font-size: 18px;
    font-weight: 500;
    padding-left: 12px;
    color: #8f9bb3;
    margin-bottom: 10px;
  }
  ul li {
    margin-bottom: 8px;
    border-radius: 5px;
    padding: 10px 16px;
    background: #fff;
    label{
        margin: 0;
    }
    &:hover {
        background: #188df8;
        color: #fff;
        input{
            color: #fff;
            background: transparent;
        }
        i{
            color: #fff;
        }
        label{
            color: #fff !important;
        }

    }
    input {
        color: #212121;
        width: 50%;
    }
    label {
        cursor: pointer;
    }
  }
