.layout nav.fixed {
    position: relative;
}

.menu-floating {
    padding: 16px 10px;
    top: 56px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    color: #8f9bb3;
    border-radius: 0;
    position: fixed;
    left: 0;
    height: 100vh;
    background: #f8f8f8;
    transition: all 1.2s ease-in-out !important;
    transform: translate3d(-400px, 0, 0) !important;
    box-shadow: 10px 50px 50px 0 rgba(0, 0, 0, 0.14);
    &.opened{
        transition: all 1.2s ease-in-out !important;
        transform: translate3d(0px, 0, 0) !important;
    }
    .menu-icon {
        border: none;
        margin: 0 auto;
    }
}

.menu-floating-list {
    padding: 0;
    column-count: 3;
    list-style-type: none;
    li {
        text-align: center;
        margin-bottom: 16px;
    }
}

.nb-theme-dark nb-icon {
    font-size: 3rem;
}

.menu-floating-block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    overflow-y: scroll;
}

.menu-floating-block li {
    width: 50%;
    margin-bottom: 30px;
}

.menu-floating-block li a {
    color: #161A30;
    font-size: 13px;
    font-weight: 600;
    // &:hover {
    //     color: #fff;
    // }
}

.menu-floating-block li a i {
    font-size: 24px;
    margin-bottom: 4px;
}

.menu-floating-block li a figure {
    width: 44px;
    margin: 0 auto;
    margin-bottom: 6px;
}