
    <div [ngClass]="status === true ? 'menu-floating opened' : 'menu-floating' " > 
        <ul class="menu-floating-block">
            <!-- <li>
                <a href="#!">
                    <div>
                        <ngx-svg-website-manager></ngx-svg-website-manager>
                    </div>
                    test
                </a>
            </li> -->

            <li *ngFor="let menu of menus">
                <a [routerLink]="[menu.link]">
                    <figure><img src="{{menu.icon}}" class="img-fluid"></figure>
                    {{ menu.title}}
                </a>
            </li>
        </ul>
    </div>
