<ngx-content-header [breadcrumbs]="breadcrumbs" [current]="'network'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid" >
  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-body>
          <form (ngSubmit)="submitForm(settingForm)" enctype="multipart/form-data" #settingForm="ngForm" >
            <label>Primary Commission %</label>
            <nb-form-field>
              <input type="number" #primary_commission="ngModel" nbInput fullWidth  class="size-medium status-basic" name="primary_commission" ngModel step="0.1" [(ngModel)]="network.primary_commission" placeholder="Enter Commission" required [min]="1" [max]="100" >
              <nb-icon nbSuffix icon="percent-outline" pack="eva"></nb-icon>
              <ngx-validation-error [notValid]="notValid(primary_commission)" [valid]="valid(primary_commission)" [validationError]="getError(primary_commission)"></ngx-validation-error>
            </nb-form-field>
            <label>Api Key</label>
            <nb-form-field>
              <input type="text" #api_key="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="api_key" ngModel  [(ngModel)]="network.api_key" placeholder="Enter Api Key" required  >
              <ngx-validation-error [notValid]="notValid(api_key)" [valid]="valid(api_key)" [validationError]="getError(api_key)"></ngx-validation-error>
            </nb-form-field>
            <br>
            <button size="tiny" (click)="generateToken()" type="button" nbButton outline status="success">Generate New Api</button>
            <hr>
            <label>Api Allow Domain</label>
            <nb-form-field>
              <input type="text" #api_allow_domain="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="api_allow_domain" ngModel  [(ngModel)]="network.api_allow_domain" placeholder="Enter Api Allow Domain" required  >
              <ngx-validation-error [notValid]="notValid(api_allow_domain)" [valid]="valid(api_allow_domain)" [validationError]="getError(api_allow_domain)"></ngx-validation-error>
            </nb-form-field>
            <label>Api Url</label>
            <nb-form-field>
              <input type="text" #api_url="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="api_url" ngModel  [(ngModel)]="network.api_url" placeholder="Enter Api Url" required  >
              <ngx-validation-error [notValid]="notValid(api_url)" [valid]="valid(api_url)" [validationError]="getError(api_url)"></ngx-validation-error>
            </nb-form-field>
            <hr>
            <button type="submit" [disabled]="!settingForm.form.valid" nbButton outline status="success">Update</button>
            &nbsp;<i class="fa fa-spinner fa-spin" *ngIf="submitting"></i>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</section>
