<div class="header-container">
    <div class="logo-container">
        <nb-action class="control-item" icon="menu" (click)="toggleMenu($event)"></nb-action>
        <a class="logo" [routerLink]="['dashboard']">Chauffeur <span>Network</span></a>
        <nb-checkbox (change)="changeTheme($event.target.checked)" ><i class="fa fa-moon"></i></nb-checkbox>
    </div>
</div>

<div class="header-container">
    <nb-actions size="small">
        <nb-action class="control-item" icon="bell-outline" (click)="toggleNotification($event)"></nb-action>
        <nb-action class="user-action" *nbIsGranted="['view', 'user']">
            <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" [name]="user?.name" [picture]="user?.picture">
            </nb-user>
        </nb-action>
    </nb-actions>
    <ngx-admin-menu-box [(status)]="show"></ngx-admin-menu-box>
    <ngx-notification-box [(status)]="show_notification" [notifications]='notifications'></ngx-notification-box>
</div>
