<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'amenity'"></ngx-content-header>
<section class="content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h5>Fleet Amenities</h5>
            <ngx-tree-form-list [nodes]="amenity_nodes" [shownForm]="false" [current_node]="{}" (nodeClicked)="showType($event)">
                <form method="post" #amenityForm="ngForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" nbInput fullWidth name="name" #name="ngModel" [(ngModel)]="type.name" placeholder="Enter Amenity" required="required">
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="buttons-row" *ngIf="(type.id !=undefined); else elseBlock">
                            <button type="button" (click)="updateAmenity()" nbButton [status]="'primary'" [size]="'small'" outline>Update Amenity</button>
                            <button type="button" (click)="deleteAmenity()" nbButton [status]="'danger'" [size]="'small'" outline>Delete Amenity</button>
                        </div>
                        <ng-template #elseBlock>
                            <div class="buttons-row">
                                <button type="button" (click)="addAmenity()" nbButton [status]="'success'" [size]="'small'" outline>Add Amenity</button>
                            </div>
                        </ng-template>
                    </div>
                </form>
            </ngx-tree-form-list>
        </div>
    </div>
</section>