<ngx-content-header [breadcrumbs]="breadcrumbs" [current]="'network'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-body>
                <h5 class="text-center">User Detail</h5>
                <p><strong>User Name: </strong> {{network.name}} </p>
                <p><strong>User Email: </strong> {{network.email}} </p>
                <p><strong>User Mobile No: </strong> {{network.mobile}} </p>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-body>
                <h5 class="text-center">Company  Detail</h5>
                <p><strong>Conpany Name: </strong> {{network.company_name}} </p>
                <p><strong>Conpany Website: </strong> {{network.website}} </p>
                <p><strong>Conpany Phone No: </strong> {{network.tel}} </p>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-body>
                <h5 class="text-center">Api Detail</h5>
                <p><strong>Api Key: </strong> {{network.api_key}} </p>
                <p><strong>Api Url: </strong> {{network.api_url}} </p>
                <p><strong>Api Allow Domail: </strong> {{network.api_allow_domain}} </p>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-body>
                <h5 class="text-center">Bank  Detail</h5>
                <p><strong>Bank Name: </strong> {{network.name_of_the_bank}} </p>
                <p><strong>Account Name: </strong> {{network.name_on_the_account}} </p>
                <p><strong>Account Number: </strong> {{network.account_number}} </p>
                <p><strong>BSB  No: </strong> {{network.swift_code}} </p>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-body>
                <h5 class="text-center">Invoice  Detail</h5>
                <p><strong>Invoice Raised Type: </strong> {{network.invoice_raised_type}} </p>
                <p><strong>Commission: </strong> {{network.primary_commission}} % </p>
            </nb-card-body>
        </nb-card>
    </div>
</div>
  