<ngx-content-header [breadcrumbs]="breadcrumbs" [current]="'driver'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid" *ngIf="driverDetailResponse">
    <nb-card>
        <nb-card-body>
            <form method="POST" (ngSubmit)="submitFormPersonal(personalForm)" enctype="multipart/form-data" #personalForm="ngForm" class="form-wrap">
                <h6>Personal Details
                    <span class="pull-right">
                        <label *ngIf="data.is_profile_approved">Approved</label>
                        <label *ngIf="!data.is_profile_approved">Not Approved</label> :
                        <nb-toggle status="success" [checked]="getCheckedStatus('is_profile_approved')" (click)="toggleClick($event,'is_profile_approved')"></nb-toggle>
                    </span>
                </h6>
                <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" nbInput name="name" ngModel #name="ngModel" [(ngModel)]="driverDetailResponse.data.driver.user.name" class="input-full-width size-medium status-basic" placeholder="Enter Name" required>
                                    <ngx-validation-error [notValid]="notValid(name)" [valid]="valid(name)"></ngx-validation-error>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" nbInput name="email" ngModel #email="ngModel" [(ngModel)]="driverDetailResponse.data.driver.user.email" class="input-full-width size-medium status-basic" placeholder="Enter Email" required>
                                    <ngx-validation-error [notValid]="notValid(email)" [valid]="valid(email)"></ngx-validation-error>
                                </div>
                            </div>
                            <div class="col-sm-4">
                              <label>Profile Image</label>
                              <ng-container>
                                <ngx-image-input #imgInput [imageUrl]="driverDetailResponse.data.driver.profile_image_path" [aspectRatioX]="1" [aspectRatioY]="1">
                                  <ngx-validation-error class="image-input" [notValid]="notValid(fieldImage)" [valid]="valid(fieldImage)"></ngx-validation-error>
                                  <input type="file" #fieldImage="ngModel" [(ngModel)]="driverDetailResponse.data.driver.profile_image" class="image-input file" name="image" accept="image/*" (change)="imgInput.openCropper($event,fieldImage)">
                                </ngx-image-input>
                              </ng-container>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" nbInput  (intlTelInputObject)="telInputObject($event,driverDetailResponse.data.driver.user.mobile)" (ng2TelOutput)="getNumber($event);"  ng2TelInput name="mobile"   class="input-full-width size-medium status-basic intl-phone" placeholder="Enter mobile number" required>
                                </div>
                            </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Username</label>
                              <input type="text" nbInput name="username" ngModel #user_name="ngModel" [(ngModel)]="driverDetailResponse.data.driver.user.username" class="input-full-width size-medium status-basic" placeholder="Enter User Name" required>
                              <ngx-validation-error [notValid]="notValid(user_name)" [valid]="valid(user_name)"></ngx-validation-error>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Password</label>
                              <input type="password" nbInput name="password" ngModel #password="ngModel" class="input-full-width size-medium status-basic" placeholder="Enter Name">
                              <ngx-validation-error [notValid]="notValid(password)" [valid]="valid(password)"></ngx-validation-error>
                            </div>
                          </div>

                    <hr>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="submit" [disabled]="!personalForm.form.valid" nbButton [status]="'success'" [size]="'small'" outline>Update Driver</button>
                        </div>
                    </div>

            </div>
            </form>
        </nb-card-body>
    </nb-card>
    <nb-card>
        <nb-card-body>
            <form method="POST" (ngSubmit)="submitFormDocument()" #documentForm="ngForm" enctype="multipart/form-data" class="form-wrap">
                <h6>
                    Document Details
                    <span class="pull-right">
                        <label *ngIf="data.is_document_approved">Approved</label>
                        <label *ngIf="!data.is_document_approved">Not Approved</label> :
                        <nb-toggle status="success" [checked]="getCheckedStatus('is_document_approved')" (click)="toggleClick($event,'is_document_approved')"></nb-toggle>
                    </span>
                </h6>
                <div class="row">
                    <div class="col-sm-6" *ngFor="let documentType of  driverDetailResponse.data.documentTypes; let i=index;">
                        <h7>{{documentType.name}}</h7>
                        <table class="table">
                            <tbody>
                                <tr *ngIf="documentType.is_contain_file">
                                    <th>{{documentType.file_name ? documentType.file_name : 'File'}}</th>
                                    <td class="file-td">
                                        <div class="file-input-wrapper">
                                            <button class="select-file" type="button"><i class="fa fa-upload"></i> {{documentType.file_input_name}} </button>
                                            <input class="file" type="file" name="documents[{{documentType.id}}][file]" (change)="onFileSelect($event.target.files,i,'file')">
                                        </div>
                                        <div class="file-download-wrapper" *ngIf="documentType.document !== null && documentType.document.file_link !== undefined">

                                          <ngx-download [url]="documentType.document.file_link" [fullUrl]="false"></ngx-download>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="documentType.is_contain_extra_file">
                                    <th>{{documentType.extra_file_name ? documentType.extra_file_name : 'Extra File'}}</th>
                                    <td class="file-td">
                                        <div class="file-input-wrapper">
                                            <button class="select-file" type="button"><i class="fa fa-upload"></i> {{documentType.extra_file_input_name}} </button>
                                            <input class="file" type="file" name="documents[{{documentType.id}}][extra_file]" (change)="onFileSelect($event.target.files,i,'extra_file')">
                                        </div>
                                        <div class="file-download-wrapper" *ngIf="documentType.document !== null && documentType.document.extra_file_link !== undefined">
                                          <ngx-download [url]="documentType.document.extra_file_link" [fullUrl]="false"></ngx-download>
                                        </div>
                                    </td>
                                </tr>

                                <tr *ngIf="documentType.is_contain_expire">
                                    <th>{{documentType.expire_name ? documentType.expire_name : 'Expire Date'}}</th>
                                    <td>
                                      <my-date-picker class="input-full-width size-medium status-basic"  name="documents[{{documentType.id}}][expire_date]"  placeholder="Enter {{documentType.expire_name ? documentType.expire_name : 'Expire Date'}}" [options]="myDatePickerOptions"
                                                      [(ngModel)]="documentType.document.expire_date_formated" required></my-date-picker>
                                    </td>
                                </tr>

                                <tr *ngIf="documentType.is_contain_name">
                                    <th>{{documentType.name_name ? documentType.name_name : 'Name'}}</th>
                                    <td><input type="text" nbInput class="input-full-width size-medium status-basic" name="documents[{{documentType.id}}][name]" ngModel [(ngModel)]="documentType.document.name" placeholder="Enter {{documentType.name_name ? documentType.name_name : 'Name'}}"></td>
                                </tr>
                                <tr *ngIf="documentType.is_contain_number">
                                    <th>{{documentType.number_name ? documentType.number_name : 'Number'}}</th>
                                    <td><input type="text" nbInput class="input-full-width size-medium status-basic" name="documents[{{documentType.id}}][number]" ngModel [(ngModel)]="documentType.document.number" placeholder="Enter {{documentType.number_name ? documentType.number_name : 'Number'}}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="" nbButton [status]="'success'" [size]="'small'" outline>Update Document</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</section>
