.select-file {
    background-color: #192038;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  width: 150px;
}

.file-input-wrapper {
    position: relative;
}

input.file {
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
}

.file-td {
    display: flex;
    justify-content: space-between;
}

.nb-theme-dark th {
    color: #ffffff;
    width: 50%;
}

.file-td img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}
