<ng-container *ngIf="status">
    <div class="menu-floating notification-floating">
        <ul class="notification-floating-block">
            <li class="notification-list" *ngFor="let notification of notifications">
                <div class="notification-list_icon">
                    <i class="{{notification.data.notification_icon}}"></i>
                </div>
                <div class="notification-list_detail">
                    <a href="{{notification.data.notification_url}}" [innerHTML]="notification.data.notification_title"></a>
                    <p><small>{{notification.created_at_formated}}</small></p>
                </div>
            </li>
        </ul>
        <div class="notification-all-list">
            <a  [routerLink]="['notifications']">See all notifications</a>
        </div>
    </div>
</ng-container>