.notification-floating {
    width: auto !important;
    padding: 12px 0 8px 16px;
    display: block !important;
}

.notification-all-list {
    text-align: center;
    margin-top: 12px;
}

.notification-all-list a {
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    color: #000 !important;
    border-bottom: 1px solid #3a476e;
}

.notification-list {
    display: flex;
    border-bottom: 1px solid #e7e7e7;
    padding: 8px 0;
}

.notification-list:hover .notification-list_icon,
.notification-list:hover .notification-list_detail a,
.notification-list:hover .notification-list_detail p {
    color: #000;
}

.notification-list_icon {
    padding: 0 12px;
    color: #161a30;
}

.notification-list_detail p,
.notification-list_detail a {
    margin-bottom: 0;
    color: #161a30;
    font-size: 13px;
}

// .notification-floating-block li:nth-last-child(1) {
//     border: none;
// }
// .notification-floating-block li:nth-last-child(1) {
//     justify-content: center;
// }
.notification-floating-block {
    height: 390px;
    overflow-y: scroll;
    padding-right: 16px;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #171C32;
    }
    &::-webkit-scrollbar-thumb {
        background: #8f9bb3;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #171C32;
    }
}

.layout nav.fixed {
    position: relative;
}

.menu-floating {
    background: #fff;
    padding: 24px 0 24px 16px;
    position: absolute;
    top: 57px;
    left: -44%;
    display: flex;
    justify-content: space-between;
    width: 400px;
    color: #8f9bb3;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    border-radius: 4px;
    .menu-icon {
        border: none;
        margin: 0 auto;
    }
}

.menu-floating-list {
    padding: 0;
    column-count: 3;
    list-style-type: none;
    li {
        text-align: center;
        margin-bottom: 16px;
    }
}

.nb-theme-dark nb-icon {
    font-size: 3rem;
}

.menu-floating-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.menu-floating-block li {
    width: 33%;
    margin-bottom: 30px;
}

.menu-floating-block li a {
    color: #161A30;
    font-size: 13px;
    font-weight: 600;
    // &:hover {
    //     color: #fff;
    // }
}

.menu-floating-block li a i {
    font-size: 24px;
    margin-bottom: 4px;
}

.menu-floating-block li a figure {
    width: 50px;
    margin: 0 auto;
    margin-bottom: 6px;
}