@font-face {
    font-family: 'Circular Std Book';
    src: url('Circular Std Book.woff2') format('woff2'), url('Circular Std Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Book Italic';
    src: url('Circular Std Book Italic.woff2') format('woff2'), url('Circular Std Book Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Medium';
    src: url('Circular Std Medium.woff2') format('woff2'), url('Circular Std Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Bold';
    src: url('Circular Std Bold.woff2') format('woff2'), url('Circular Std Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Black';
    src: url('Circular Std Black.woff2') format('woff2'), url('Circular Std Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}