<div class="header-nav">
  <div class="header-rt-blc">
    <h5 class="text-center">{{ headerData.title }}</h5>
    <a class="btn btn-outline" *ngIf="headerData.action" [routerLink]="[headerData.actionLink]">{{headerData.actionTitle}}</a>
  </div>
</div>
