

.header-nav h5 {
    font-size: 20px;
    font-weight: 500;
    color: #0c84fe;
    margin-bottom: 0px;
    border: none;
}

.header-nav a {
  font-size: 14px;
  font-weight: 14px;
  color: #fff;
}

.header-nav {
  padding: 8px 10px;
}

.header-nav .btn-outline {
  padding: 6px 12px;
  color: #0c84fe;
  border: 1px solid #0c84fe;
  transition: 0.3s ease-in-out;
  &:hover {
    color: #fff;
    background: #0c84fe;
    transition: 0.3s ease-in-out;
  }
}

.header-rt-blc {
  display: flex;
  justify-content: space-between;
  .btn-outline {
    margin-left: 20px;
  }
}
