<ngx-content-header [breadcrumbs]="breadcrumbs" [current]="'driver'"></ngx-content-header>
<div class="header-nav">
    <div class="header-rt-blc">
        <h5 class="text-center">Fleet and Document Details</h5>
        <a href="javascript:void(0)" class="btn btn-outline" (click)="openNewDialog(dialog)" *ngIf="this.responseDataFleets.fleets !== undefined && this.responseDataFleets.fleets.length==0">
            <i class="fa fa-plus"></i> New Vehicle
        </a>
    </div>
</div>
<section class="content container-fluid">
    <div *ngIf="responseDataFleets">
        <div class="row" *ngFor="let fleet of responseDataFleets.fleets; let key=index;">
            <div class="col-md-5">
                <nb-card>
                    <nb-card-body>
                        <div class="card-wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <!-- <div class="col-md-2">
                                            <figure>
                                                <img src="https://api.vip.test/storage/fleets/default.png" width="100px">
                                            </figure>
                                        </div> -->
                                        <div class="col-md-6">
                                            <h4>{{fleet.make_name}} {{fleet.model_name}}
                                                <p>{{fleet.type.type}} / {{fleet.fleet_class.name}}</p>
                                            </h4>
                                        </div>
                                        <div class="col-md-3">
                                              <span class="pull-right">
                                                  <label *ngIf="this.responseDataFleets.driver.is_fleet_approved">Approved</label>
                                                  <label *ngIf="!this.responseDataFleets.driver.is_fleet_approved">Not Approved</label> :
                                                  <nb-toggle status="success" [checked]="getCheckedStatus('is_fleet_approved')" (click)="toggleClick($event,'is_fleet_approved')"></nb-toggle>
                                              </span>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="d-flex align-items-center justify-content-end">
                                                <button nbButton size="tiny" status="success" *ngIf="fleet.is_active; else inActive">
                                                Active
                                            </button> &nbsp;
                                                <ng-template #inActive>
                                                    <button nbButton size="tiny" status="primary" (click)="setActiveFleet(fleet)">
                                                    Set Active
                                                </button> &nbsp;
                                                </ng-template>
                                                <button nbButton size="tiny" status="primary" (click)="open(dialog,fleet)">
                                                <i class="fas fa-edit"></i>
                                            </button> &nbsp;
                                                <button nbButton size="tiny" status="danger" (click)="deleteFleet(fleet)" *ngIf="isDriverEdit">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-md-12" *ngIf="responseDataFleets.doc_types">
                                    <div class="my-card" *ngFor="let type of responseDataFleets.doc_types">
                                        <div class="wrap">
                                            <div class="ico"><i class="fas fa-car"></i> <span>{{type.name}}</span></div>
                                            <a href="javascript:void(0)" (click)="showForm(type.id,fleet,$event)"><i class="fas fa-edit edit-icon"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-7" *ngIf="fleet.doc_status">
                <nb-card>
                    <nb-card-body>
                        <div class="vehicle-form-wrapper">
                            <h4>{{fleet.doc_type.name}}</h4>
                            <div class="box-content">
                                <form method="POST" (ngSubmit)="submitDocumentForm(documentForm,fleet)" enctype="multipart/form-data" #documentForm="ngForm" class="form-wrap">
                                    <input type="hidden" name="document_type_id" ngModel [(ngModel)]="fleet.doc_type.id">
                                    <div class="row">
                                        <div class="col-md-4" *ngIf="fleet.doc_type.is_contain_file">
                                            <div class="form-group">
                                                <label>{{(fleet.doc_type.file_name != null ? fleet.doc_type.file_name : 'File')}}</label><br>
                                                <div class="file-input-wrapper">
                                                    <input class="file" type="file" name="file" (change)="onFileSelect($event,'file')">
                                                </div>
                                                <div class="file-download-wrapper" *ngIf="fleet.doc_type_value.file_link">
                                                  <ngx-download [url]="fleet.doc_type_value.file_link"></ngx-download>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" *ngIf="fleet.doc_type.is_contain_extra_file">
                                            <div class="form-group">
                                                <label>{{(fleet.doc_type.extra_file_name != null ? fleet.doc_type.extra_file_name : 'Extra File')}}</label><br>
                                                <div class="file-input-wrapper">
                                                    <input class="file" type="file" name="extra_file" (change)="onFileSelect($event,'extra_file')">
                                                </div>
                                                <div class="file-download-wrapper" *ngIf="fleet.doc_type_value.extra_file_link">
                                                  <ngx-download [url]="fleet.doc_type_value.extra_file_link"></ngx-download>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" *ngIf="fleet.doc_type.is_contain_expire">
                                            <div class="form-group">
                                                <label>{{(fleet.doc_type.expire_name != null ? fleet.doc_type.expire_name : 'Expire Date')}}</label>
                                                <input type="text" nbInput autocomplete="off" [nbDatepicker]="datepicker" class="input-full-width" name="expire_date" ngModel [(ngModel)]="fleet.doc_type_value.expire_date" placeholder="Enter Expire Date">
                                                <nb-datepicker format="dd/MM/yyyy" [min]="min"  #datepicker></nb-datepicker>
                                            </div>
                                        </div>
                                        <div class="col-md-4" *ngIf="fleet.doc_type.is_contain_name">
                                            <div class="form-group">
                                                <label>{{(fleet.doc_type.name_name != null ? fleet.doc_type.name_name : 'Name')}}</label>
                                                <input type="text" nbInput class="input-full-width" name="name" ngModel [(ngModel)]="fleet.doc_type_value.name" placeholder="Enter Name">
                                            </div>
                                        </div>
                                        <div class="col-md-4" *ngIf="fleet.doc_type.is_contain_number">
                                            <div class="form-group">
                                                <label>{{(fleet.doc_type.number_name != null ? fleet.doc_type.number_name : 'Number')}}</label>
                                                <input type="text" nbInput class="input-full-width" name="number" ngModel [(ngModel)]="fleet.doc_type_value.number" placeholder="Enter Number">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="submit" [disabled]="" nbButton [status]="'success'" [size]="'small'" outline>Update Document</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</section>
<div class="add-section">
    <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card class="modal-content modal-lg">
            <nb-card-header class="text-center modal-header">Fleet Details <button (click)="ref.close()" class="float-right close-button"><i class="fa fa-times"></i></button></nb-card-header>
            <nb-card-body>
                <form method="POST" (submit)="submitFleetDetailForm(fleetForm)" #fleetForm="ngForm" class="form-wrap">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Fleet Type</label>
                                <nb-select [(selected)]="selectedType.id" *ngIf="responseDataFleets" (selectedChange)="fleetTypeChange($event)">
                                    <nb-option *ngFor="let type of responseDataFleets.types" [value]="type.id">{{type.type}}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Fleet Class</label>
                                <nb-select [(selected)]="selectedClass.id" *ngIf="responseDataFleets" (selectedChange)="fleetClassChange($event)">
                                    <nb-option *ngFor="let class of responseDataFleets.classes" [value]="class.id">{{class.name}}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="active">Fleet Make</label>
                                <input type="text" nbInput name="make_name" #make_name="ngModel" [(ngModel)]="responseDataFleet.make_name" required="required" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Fleet Model</label>
                                <input type="text" nbInput name="model_name" #model_name="ngModel" [(ngModel)]="responseDataFleet.model_name" required="required" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Fleet Number</label>
                                <input type="text" nbInput name="number" #number="ngModel" [(ngModel)]="responseDataFleet.number" required="required" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Child seat availability</label>
                                <input type="number" nbInput name="available_child_seats" #available_child_seats="ngModel" [(ngModel)]="responseDataFleet.available_child_seats" required="required" min="0" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Amenities</label>
                                <div id="fleet_amenities" *ngIf="responseDataFleets">
                                    <div class="checkbox" *ngFor="let amenity of responseDataFleets.amenities; let i=index;">
                                        <nb-checkbox status="basic" [name]="'amenities_'+ i" (change)="toggle(amenity.id)" [checked]="currentAmenities[amenity.id]"> {{amenity.id}} {{ amenity.name }}</nb-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-center">
                                <span><i class="fa fa-users"></i> {{selectedType.passenger_count}} &nbsp;&nbsp;</span>
                                <span><i class="fa fa-suitcase"></i> {{selectedType.suitcase_count}}&nbsp;&nbsp;</span>
                                <span><i class="fa fa-shopping-bag"></i> {{selectedType.luggage_count}}</span>
                            </p>
                            <p class="text-center">
                                <span> {{selectedClass.info}} </span>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" nbButton [status]="'success'" [size]="'small'" outline>Submit</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </ng-template>
</div>
