<nb-layout windowMode class="window-mode with-scroll rotate-layout with-search">
    <nb-layout-header fixed>
        <ngx-admin-header></ngx-admin-header>
    </nb-layout-header>
    <nb-layout-column>
        <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <ngx-admin-footer></ngx-admin-footer>
    </nb-layout-footer>
</nb-layout>
