
<ng-container *ngIf="displayType == 'row'">
  <nb-actions size="small">
    <nb-action *ngFor="let action of actions" [icon]="getActionIcon(action.type)" [nbTooltip]="action.title" class="{{action.type}}" (click)="navigate(action)">
    </nb-action>
  </nb-actions>
</ng-container>
<ng-container *ngIf="displayType == 'dropdown'">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action <span class="caret"></span></a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li *ngFor="let action of actions" [class]="action.type"><a (click)="navigate(action)"> <nb-icon [icon]="getActionIcon(action.type)"></nb-icon>  &nbsp;&nbsp;{{action.title}}</a></li>
  </ul>
</ng-container>


