<ngx-content-header [breadcrumbs]="breadcrumbs" [current]="'driver'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid" >
    <form (ngSubmit)="submitForm(settingForm)" enctype="multipart/form-data" #settingForm="ngForm" >
      <div class="row">
          <div class="col-md-6">
          <nb-card>
            <nb-card-body>
                <input type="hidden"   name="type"   [(ngModel)]="news_letter.type">
                <nb-form-field>
                    <label>Via</label>
                    <nb-select name="via"  fullWidth [(ngModel)]="news_letter.via">
                            <nb-option  [value]="'email'">Email</nb-option>
                            <nb-option  [value]="'sms'">SMS</nb-option>
                            <nb-option  [value]="'both'">Both</nb-option>
                    </nb-select>
                  </nb-form-field>
        
              <nb-form-field *ngIf="news_letter.via == 'email' || news_letter.via == 'both'">
                <label>Email Subject</label>
                <input type="text" #subject="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="subject"   [(ngModel)]="news_letter.subject" placeholder="Enter Subject" required  >
                <ngx-validation-error [notValid]="notValid(subject)" [valid]="valid(subject)" [validationError]="getError(subject)"></ngx-validation-error>
              </nb-form-field>
                
              <nb-form-field>
                <label>Drivers</label>
                <nb-select #drivers_input="ngModel"  name="drivers" multiple  fullWidth required [(ngModel)]="news_letter.drivers">
                        <nb-option  [value]="driver.id" *ngFor="let driver of drivers">{{driver.name}}</nb-option>
                </nb-select>
                <ngx-validation-error [notValid]="notValid(drivers_input)" [valid]="valid(drivers_input)" [validationError]="getError(drivers_input)"></ngx-validation-error>
              </nb-form-field>
                <div *ngIf="news_letter.via == 'email' || news_letter.via == 'both'">
                    <label>Email Message</label>
                    <input type="hidden" #message="ngModel"  name="message"   [(ngModel)]="news_letter.message" required  >
                    <ngx-validation-error [notValid]="notValid(message)" [valid]="valid(message)" [validationError]="getError(message)"></ngx-validation-error>
                    <ngx-admin-tiny-mce  (editorKeyup)="setEditorValue($event)"></ngx-admin-tiny-mce>
                    
                </div>
              <nb-form-field *ngIf="news_letter.via == 'sms' || news_letter.via == 'both'">
                <label>Sms Message</label>
                <textarea required #small_message="ngModel" [(ngModel)]="news_letter.small_message" rows="4" cols="41" nbInput  name="small_message" placeholder="Enter Sms Message" class="status-basic"></textarea>
                <ngx-validation-error [notValid]="notValid(small_message)" [valid]="valid(small_message)" [validationError]="getError(small_message)"></ngx-validation-error>
              </nb-form-field>    
              <hr>
              <button type="submit" [disabled]="!settingForm.form.valid" nbButton outline status="success">Send Messages</button>
              &nbsp;<i class="fa fa-spinner fa-spin" *ngIf="submitting"></i>
            </nb-card-body>
          </nb-card>

        </div>

      </div>
    </form>
</section>
