<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'primary'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<div id="grid-wrapper" style="width:100%; height: 90%">
    <ngx-table-header [(filterText)]="filterText"
                      [(paginationNumber)]="paginationNumber"
                      (paginationChanged)="onPageSizeChanged()"
                      (searchChanged)="onFilterTextBoxChanged()">
    </ngx-table-header>
    <ag-grid-angular style="width: 100%; height: 90%;"
                     id="myGrid"
                     [class]="ag_class"
                     [columnDefs]="columnDefs"
                     [defaultColDef]="defaultColDef"
                     [rowData]="rowData"
                     [animateRows]="true"
                     (firstDataRendered)="onFirstDataRendered($event)"
                     (gridSizeChanged)="onGridSizeChanged($event)"
                     (gridReady)="onGridReady($event)"
                     (rowClicked)="rowClicked($event, dialog)"
                     [pagination]="true"
                     [rowModelType]="'infinite'"
                     [cacheBlockSize]="paginationCount"
                     [paginationPageSize]="paginationCount">

    </ag-grid-angular>
  </div>
  <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card class="modal-content modal-lg">
        <nb-card-header class="text-center modal-header">Price Breakdown <button (click)="ref.close()" class="float-right close-button"><i class="fa fa-times"></i></button></nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-md-12">
                    <h5>Driver Fare Breakdown</h5>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let charge of commission.list" >{{ charge.name }} : {{charge.value}}({{charge.percent}}%) of {{charge.amount}}</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h5> Network Fare Breakdown</h5>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let charge of commission.primary_list" >{{ charge.name }} : {{charge.value}}({{charge.percent}}%) of {{charge.amount}}</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h5> Network Fare Breakdown</h5>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let charge of commission.primary_driver_list" >{{ charge.name }} : {{charge.value}}({{charge.percent}}%) of {{charge.amount}}</li>
                    </ul>
                </div>
            </div>
            <hr>
        </nb-card-body>
    </nb-card>
</ng-template>
