<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'driver'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid" >
    <nb-card>
        <nb-card-body>
            <form method="POST" (ngSubmit)="submitDriverForm(driverForm)" enctype="multipart/form-data" #driverForm="ngForm" class="form-wrap">
                <h6>Personal Details</h6>
                <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" nbInput name="name" ngModel #name="ngModel" [(ngModel)]="driver.name" class="input-full-width size-medium status-basic" placeholder="Enter Name" required>
                                    <ngx-validation-error [notValid]="notValid(name)" [valid]="valid(name)"></ngx-validation-error>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" nbInput name="email" ngModel #email="ngModel" [(ngModel)]="driver.email" class="input-full-width size-medium status-basic" placeholder="Enter Email" required>
                                    <ngx-validation-error [notValid]="notValid(email)" [valid]="valid(email)"></ngx-validation-error>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" nbInput name="mobile" ngModel #mobile="ngModel" [(ngModel)]="driver.mobile" class="input-full-width size-medium status-basic" placeholder="Enter mobile number" required>
                                    <ngx-validation-error [notValid]="notValid(mobile)" [valid]="valid(mobile)"></ngx-validation-error>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date Of Birth</label> <br>
                                    <input nbInput placeholder="Date Of Birth"   name="dob" [nbDatepicker]="formpicker" autocomplete="off">
                                    <nb-datepicker  #formpicker (dateChange)="onDateChange($event)" format="dd/MM/yyyy"></nb-datepicker>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Service Location</label>
                                    <input type="text" name="service_location" #service_location="ngModel" [(ngModel)]="driver.service_location" required #searchInput class="form-control status-basic" nbInput fullWidth>
                                    <ngx-validation-error [notValid]="notValid(service_location)" [valid]="valid(service_location)"></ngx-validation-error>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Booking Radius</label>
                                    <input type="number" nbInput name="booking_radius" ngModel #service_radius="ngModel" [(ngModel)]="driver.service_radius" class="input-full-width size-medium status-basic" placeholder="Enter service radius " required>
                                    <ngx-validation-error [notValid]="notValid(service_radius)" [valid]="valid(service_radius)"></ngx-validation-error>
                                </div>
                            </div>
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" [disabled]="!driverForm.form.valid" nbButton [status]="'success'" [size]="'small'" outline>Save Driver</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
    </section>
