<div class="steppers-container row">
    <div class=" col-md-6 login-box">
        <div class="login-logo">
            <b>Chauffuer Network</b> Admin
           </div>
      <nb-card>
        <nb-card-body>
          <nb-stepper #stepper>
            <nb-step [stepControl]="firstForm" label="Email">
              <form #emailForm="ngForm" (ngSubmit)="onFirstSubmit(stepper)" class="step-container">
                <p class="lorem">
                 Admin Reset Password (Email)
                </p>
                <div class="input-group">
                  <input type="email" name="email" required placeholder="Enter your Email" class="form-control" [(ngModel)]="email">
                </div>
                <div class="text-red">{{ error }}</div>
                <hr>
                <button type="submit" nbButton [disabled]="!emailForm.form.valid || submitting">next</button>
              </form>
            </nb-step>
            <nb-step [stepControl]="secondForm" label="Reset Code">
              <form #resetForm="ngForm" (ngSubmit)="onSecondSubmit(stepper)" class="step-container">
                <p class="lorem">
                    Admin Reset Password (Reset Code)
                </p>
                <div class="input-group">
                  <input type="text" name="reset_code" required placeholder="Enter Reset Code" class="form-control" [(ngModel)]="reset_code">
                </div>
                <div class="text-red">{{ reset_error }}</div>
                <hr>
                <button type="submit" nbButton nbButton [disabled]="!resetForm.form.valid || submitting">next</button>
              </form>
            </nb-step>
            <nb-step [stepControl]="thirdForm" label="Password">
              <form #passwordForm="ngForm" (ngSubmit)="onThirdSubmit(stepper)" class="step-container">
                <p class="lorem">
                    Admin Reset Password (Password)
                </p>
                <div class="input-group">
                  <input type="password" required name="password" placeholder="Enter Password" class="form-control" [(ngModel)]="password">
                </div>
                <div class="text-red">{{ password_error }}</div>
                <hr>
                <button nbButton  [disabled]="!passwordForm.form.valid || submitting">Reset</button>
              </form>
            </nb-step>
          </nb-stepper>
        </nb-card-body>
      </nb-card>
    </div>
