<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'document'"></ngx-content-header>
<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h5>Driver Document Types</h5>
            <ngx-tree-form-list [nodes]="type_nodes" [shownForm]="false" [current_node]="type" (nodeClicked)="showType($event)">
                <form method="post" #driverDocTypeForm="ngForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-6 ">
                                <label>Name</label>
                                <input type="text" name="name" #name="ngModel" [(ngModel)]="type.name" nbInput placeholder="Enter Document Type" required="required">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <nb-checkbox status="success" (change)="toggle('is_required')" [checked]="type.is_required===1">Required</nb-checkbox>
                        </div>
                        <div class="form-group col-sm-4">
                            <nb-checkbox status="success" (change)="toggle('is_contain_file')" [checked]="type.is_contain_file===1">File</nb-checkbox>
                        </div>
                        <div class="form-group col-sm-4">
                            <nb-checkbox status="success" (change)="toggle('is_contain_expire')" [checked]="type.is_contain_expire===1">Expire Date</nb-checkbox>
                        </div>
                        <div class="form-group col-sm-4">
                            <nb-checkbox status="success" (change)="toggle('is_contain_extra_file')" [checked]="type.is_contain_extra_file===1">Extra File</nb-checkbox>
                        </div>
                        <div class="form-group col-sm-4">
                            <nb-checkbox status="success" (change)="toggle('is_contain_name')" [checked]="type.is_contain_name===1">Name</nb-checkbox>
                        </div>
                        <div class="form-group col-sm-4">
                            <nb-checkbox status="success" (change)="toggle('is_contain_number')" [checked]="type.is_contain_number===1">Number</nb-checkbox>
                        </div>
                        <div class="form-group col-sm-6" *ngIf="type.is_contain_file===1">
                            <label>File Label</label>
                            <input type="text" name="file_name" nbInput #file_name="ngModel" [(ngModel)]="type.file_name" placeholder="Enter File Label">
                        </div>
                        <div class="form-group col-sm-6" *ngIf="type.is_contain_extra_file===1">
                            <label>Extra File Label</label>
                            <input type="text" name="extra_file_name" nbInput #extra_file_name="ngModel" [(ngModel)]="type.extra_file_name" placeholder="Enter Extra File Label">
                        </div>
                        <div class="form-group col-sm-6" *ngIf="type.is_contain_expire===1">
                            <label>Expire Date Label</label>
                            <input type="text" name="expire_name" nbInput #expire_name="ngModel" [(ngModel)]="type.expire_name" placeholder="Enter Expire Date Label">
                        </div>
                        <div class="form-group col-sm-6" *ngIf="type.is_contain_name===1">
                            <label>Name Label</label>
                            <input type="text" name="name_name" nbInput #name_name="ngModel" [(ngModel)]="type.name_name" placeholder="Enter Name Label">
                        </div>
                        <div class="form-group col-sm-6" *ngIf="type.is_contain_number===1">
                            <label>Number Label</label>
                            <input type="text" name="number_name" nbInput #number_name="ngModel" [(ngModel)]="type.number_name" placeholder="Enter Number Label">
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="buttons-row" *ngIf="(type.id !=undefined); else elseBlock">
                                <button nbButton [status]="'primary'" (click)="updateDocument()" [size]="'small'" outline>Update Document Type</button>
                                <button nbButton [status]="'danger'" (click)="deleteDocument()" [size]="'small'" outline>Delete Document Type</button>
                            </div>
                            <ng-template #elseBlock>
                                <div class="buttons-row">
                                    <button type="button" (click)="addDocument()" nbButton [status]="'success'" [size]="'small'" outline>Add Document Type</button>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </form>
            </ngx-tree-form-list>
        </div>
    </div>
</div>