<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]=""></ngx-content-header>
<section class="content container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="half-block">
                <h6>Location Type</h6>
                <nb-card>
                    <nb-card-body>
                        <form method="POST" (ngSubmit)="submitForm()" enctype="multipart/form-data" #locationTypeForm="ngForm" class="form-wrap">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" nbInput name="title" ngModel #title="ngModel" [(ngModel)]="locationTypeData.title" class="input-full-width size-medium status-basic" placeholder="Enter Title" required>
                                <ngx-validation-error [notValid]="notValid(title)" [valid]="valid(title)"></ngx-validation-error>
                            </div>
                            <div class="form-group">
                                <label>Type</label><br>
                                <nb-select [(selected)]="locationTypeData.type" (selectedChange)="typeChange($event)" required>
                                    <nb-option *ngFor="let type of types | keyvalue" [value]="type.key">{{type.value}}</nb-option>
                                </nb-select>
                            </div>
                            <div class="form-group">
                                <button type="submit" [disabled]="!locationTypeForm.form.valid" nbButton [status]="'success'" [size]="'small'" outline>Save Page</button>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>

</section>
