<ngx-content-header [breadcrumbs]="breadcrumbs" [current]="'network'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid"  *ngIf="formStatus">
    <form (ngSubmit)="submitForm(settingForm)" enctype="multipart/form-data" #settingForm="ngForm" >
      <div class="row">
          <div class="col-md-6">
          <nb-card>
            <nb-card-body>
                <label>User Name</label>
              <nb-form-field>
                <input type="text" #name="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="name" ngModel  [(ngModel)]="network.name" placeholder="Enter User Name" required  >
                <ngx-validation-error [notValid]="notValid(name)" [valid]="valid(name)" [validationError]="getError(name)"></ngx-validation-error>
              </nb-form-field>        <br>
                <label>User Email</label>
              <nb-form-field>
                <input type="email" #email="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="email" ngModel  [(ngModel)]="network.email" placeholder="Enter User Email" required  >
                <ngx-validation-error [notValid]="notValid(email)" [valid]="valid(email)" [validationError]="getError(email)"></ngx-validation-error>
              </nb-form-field>        <br>
                <label>User Mobile No.</label>
              <nb-form-field>
                <input type="text" (intlTelInputObject)="telInputObject($event,network.mobile)"  (ng2TelOutput)="getNumber($event)"  ng2TelInput nbInput fullWidth  class="size-medium status-basic intl-phone" name="mobile" placeholder="Enter Phone No." required  >
              </nb-form-field>
              <br>
              <label>Company Name</label>
              <nb-form-field>
                <input type="text" #company_name="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="company_name" ngModel  [(ngModel)]="network.company_name" placeholder="Enter Company Name" required  >
                <ngx-validation-error [notValid]="notValid(company_name)" [valid]="valid(company_name)" [validationError]="getError(company_name)"></ngx-validation-error>
              </nb-form-field>
              <br>
              <label>Company Website</label>
              <nb-form-field>
                <input type="text" #website="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="website" ngModel  [(ngModel)]="network.website" placeholder="Enter Company Website" required  >
                <ngx-validation-error [notValid]="notValid(website)" [valid]="valid(website)" [validationError]="getError(website)"></ngx-validation-error>
              </nb-form-field>
              <hr>
              <button type="submit" [disabled]="!settingForm.form.valid" nbButton outline status="success">Create</button>
              &nbsp;<i class="fa fa-spinner fa-spin" *ngIf="submitting"></i>

            </nb-card-body>
          </nb-card>

        </div>
          <div class="col-md-6">
            <nb-card>
              <nb-card-body>
                <label>Company Logo</label>
                <nb-form-field>
                  <ngx-image-input #imgInput [imageUrl]="network.logo" [aspectRatioX]="1" [aspectRatioY]="1">
                    <ngx-validation-error class="image-input" [notValid]="notValid(fieldImage)" [valid]="valid(fieldImage)" [validationError]="getError(fieldImage)"></ngx-validation-error>
                    <input type="hidden" nbInput  [(ngModel)]="imgInput.cropped_data"  name="logo_crop" >
                    <input type="file" nbInput #fieldImage="ngModel" [(ngModel)]="network.logo" class="image-input file" name="logo" accept="image/*" (change)="imgInput.openCropper($event,fieldImage)">
                  </ngx-image-input>
                </nb-form-field>
                <label>Primary Commission %</label>
                <nb-form-field>
                  <input type="number" #primary_commission="ngModel" nbInput fullWidth  class="size-medium status-basic" name="primary_commission" ngModel step="0.1" [(ngModel)]="network.primary_commission" placeholder="Enter Commission" required [min]="1" [max]="100" >
                  <nb-icon nbSuffix icon="percent-outline" pack="eva"></nb-icon>
                  <ngx-validation-error [notValid]="notValid(primary_commission)" [valid]="valid(primary_commission)" [validationError]="getError(primary_commission)"></ngx-validation-error>
                </nb-form-field>
                <label>Api Key</label>
                <nb-form-field>
                  <input type="text" #api_key="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="api_key" ngModel  [(ngModel)]="network.api_key" placeholder="Enter Api Key" required  >
                  <ngx-validation-error [notValid]="notValid(api_key)" [valid]="valid(api_key)" [validationError]="getError(api_key)"></ngx-validation-error>
                </nb-form-field>
                <br>
                <button size="tiny" (click)="generateToken()" type="button" nbButton outline status="success">Generate New Api</button>
                <hr>
                <label>Api Allow Domain</label>
                <nb-form-field>
                  <input type="text" #api_allow_domain="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="api_allow_domain" ngModel  [(ngModel)]="network.api_allow_domain" placeholder="Enter Api Allow Domain" required  >
                  <ngx-validation-error [notValid]="notValid(api_allow_domain)" [valid]="valid(api_allow_domain)" [validationError]="getError(api_allow_domain)"></ngx-validation-error>
                </nb-form-field>
                <label>Api Url</label>
                <nb-form-field>
                  <input type="text" #api_url="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="api_url" ngModel  [(ngModel)]="network.api_url" placeholder="Enter Api Url" required  >
                  <ngx-validation-error [notValid]="notValid(api_url)" [valid]="valid(api_url)" [validationError]="getError(api_url)"></ngx-validation-error>
                </nb-form-field>
              </nb-card-body>
            </nb-card>
          </div>
      </div>
    </form>
</section>
