<section class="content-header">
  <div class="content-header-list">
    <a class="btn" [routerLink]="menu.link" *ngFor="let menu of menus" >
      <span class="badge {{ current === menu.id ? 'badge-primary': '' }}"><i class="{{menu.icon}}"></i> {{menu.title}}</span>
    </a>
  </div>

  <div class="breadcrumb-wrapper clearfix">
    <ol class="breadcrumb">

      <li *ngFor="let breadcrumb of breadcrumbs" [class]="breadcrumb.link == undefined ? 'active' : ''">
        <a *ngIf="breadcrumb.link !== undefined" [routerLink]="breadcrumb.link" > <i class="{{breadcrumb.icon}}"></i> {{breadcrumb.title}} </a>
        <span *ngIf="breadcrumb.link === undefined" ><i class="{{breadcrumb.icon}}"></i> {{breadcrumb.title}}</span>
      </li>

    </ol>
  </div>
</section>
