.breadcrumb {
    float: left;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    padding: 7px 5px;
    border-radius: 2px;
    li,
    li a {
      color: #fff;
      font-size: 13px;
    }
  }

  .breadcrumb li {
      margin-left: 25px !important;
  }

  .breadcrumb-wrapper {
    position: relative;
    margin-right: 10px;
  }

  .header-nav h5 {
    font-size: 18px;
    font-weight: 500;
    padding-left: 12px;
    color: #8f9bb3;
  }

  .header-nav a {
    font-size: 14px;
    font-weight: 14px;
    color: #fff;
  }

  .header-nav {
    padding: 8px 10px;
  }

  .header-nav .btn-outline {
    padding: 6px 12px;
    color: #8f9bb3;
    border: 1px solid #8f9bb3;
    &:hover {
      color: #fff;
    }
  }

  .header-rt-blc {
    display: flex;
    justify-content: space-between;
    .btn-outline {
      margin-left: 20px;
    }
  }

  .page-dropdown .option-list h5 {
    font-size: 18px !important;
  }

  .page-dropdown nb-option {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #8f9bb3 !important;
  }

  .page-dropdown nb-select .select-button {
    color: #8f9bb3 !important;
  }

  .btn-group .btn {
    padding: 0 8px !important;
  }

  .nb-theme-dark nb-select.appearance-outline.status-basic .select-button {
    color: #8f9bb3 !important;
  }

  .page-dropdown nb-select {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #8f9bb3 !important;
  }

  .content-header-list a{
    font-size: 18px;
    padding: 10px 18px;
    span{
      font-weight: 300;
      color: #fff;
    }
  }



