<ngx-content-header [breadcrumbs]="breadcrumbs" [current]="'network'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid" >
  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-body>
            <nb-chat title="Drirect Messages" size="large" status="primary">
                <nb-chat-message *ngFor="let msg of messages"
                                 [type]="msg.type"
                                 [message]="msg.text"
                                 [reply]="msg.reply"
                                 [sender]="msg.user.name"
                                 [date]="msg.date"
                                 [files]="msg.files"
                                 [quote]="msg.quote"
                                 [latitude]="msg.latitude"
                                 [longitude]="msg.longitude"
                                 [avatar]="msg.user.avatar">
                </nb-chat-message>
                <nb-chat-form (send)="sendMessage($event)" [dropFiles]="false">
                </nb-chat-form>
              </nb-chat>
        </nb-card-body>
      </nb-card>
    </div>
  </div>


</section>
