<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'test'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid">
  <nb-card>
    <nb-card-body>
        <div class="row">
          <div class="form-group col-sm-8">
            <google-map #map [options]="options"  width="100%" height="33.5625rem">
            </google-map>
           </div>
          <div class="form-group col-sm-4">
            <h4>{{totalPercentage}}%</h4>
            <h5>Distance</h5>
            <li>Total Distance : {{totalDistance.toFixed(2)}} Miles</li>
            <li>Completed : {{completedDistance.toFixed(2)}} Miles</li>
            <li>Remaining : {{remainingDistance.toFixed(2)}} Miles</li>
            <hr>
            <h5> Duration</h5>
            <li>Total Duration : {{secondsToHms(totalDuration)}}</li>
            <li>Remaining : {{secondsToHms(remainingDuration)}}</li>
            <hr>
            <h6>Extra</h6>
            <li>Distance(driver-route) : {{distToLine}} Miles</li>
           </div>
        </div>
    </nb-card-body>
  </nb-card>
</section>
