<ngx-content-header [breadcrumbs]="breadcrumbs" [current]="'network'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid" >
    <form (ngSubmit)="submitForm(settingForm)" enctype="multipart/form-data" #settingForm="ngForm" >
      <div class="row">
          <div class="col-md-6">
          <nb-card>
            <nb-card-body>
                <label>Title</label>
              <nb-form-field>
                <input type="text" #name="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="name" ngModel  [(ngModel)]="report.name" placeholder="Enter Report Title" required  >
                <ngx-validation-error [notValid]="notValid(name)" [valid]="valid(name)" [validationError]="getError(name)"></ngx-validation-error>
              </nb-form-field>        <br>
                <label>User Type</label>
                <nb-form-field>
                    <nb-select name="user_type" [(ngModel)]="report.user_type" required fullwidth> 
                        <nb-option [value]="''">Select Type</nb-option>
                        <nb-option [value]="'all'">All</nb-option>
                        <nb-option [value]="'active'">Active</nb-option>
                        <nb-option [value]="'inactive'">Inactive</nb-option>
                    </nb-select>
              </nb-form-field>        <br>
                <label>Report Type</label>
                <nb-form-field>
                    <nb-select name="type" [(ngModel)]="report.type" required>
                        <nb-option [value]="''">Select Type</nb-option>
                        <nb-option [value]="'common'">Common</nb-option>
                    </nb-select>
                </nb-form-field>
              <hr>
              <button type="submit" [disabled]="!settingForm.form.valid" nbButton outline status="success">Create</button>
              &nbsp;<i class="fa fa-spinner fa-spin" *ngIf="submitting"></i>

            </nb-card-body>
          </nb-card>

        </div>
      </div>
    </form>
</section>
