@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';
@include nb-install-component() {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .socials {
        font-size: 2rem;
        a {
            padding: 0.4rem;
            color: nb-theme(text-hint-color);
            transition: color ease-out 0.1s;
            &:hover {
                color: nb-theme(text-basic-color);
            }
        }
    }
    @include media-breakpoint-down(is) {
        .socials {
            font-size: 1.5rem;
        }
    }
}

.copyright-text {
    padding-top: 4px !important;
    margin-bottom: 0 !important;
    font-size: 13px;
    margin-left: 16px;
}