.content h6 {
    font-size: 18px;
    border-bottom: 1px solid #343e5d;
    font-weight: 500;
    padding: 8px 10px;
    color: #8f9bb3;
    margin-bottom: 10px;
}

.my-card {
    background: #13182fa3;
    padding: 15px;
    position: relative;
    border-radius: 6px;
    margin-bottom: 8px;
    box-shadow: 0 0 25px 0 rgb(119, 118, 118);
}

.my-card {
    .wrap {
        display: flex;
        justify-content: space-between;
    }
    span {
        display: inline-block;
        padding-left: 10px;
        font-size: 14px;
    }
}

.modal-lg {
    width: 800px !important;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    border-bottom: none;
    font-size: 18px;
    padding-bottom: 0;
}

.modal-content {
    max-width: 83.1% !important;
    margin: 50px auto !important;
    height: 500px;
    overflow-y: scroll;
}