<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'class'"></ngx-content-header>
<section class="content container-fluid">
    <div class="half-block">
        <div class="row">
            <div class="col-sm-6">
                <h6>
                    Fleet Class
                    <button nbButton outline size="tiny" class="float-right" (click)="openClass(dialog)"><i class="fas fa-plus"></i>  New Fleet Class</button>
                </h6>
                <div class="my-card" *ngFor="let node of class_nodes">
                    <div class="wrap">
                        <div class="ico"><span>{{node.name}}</span></div>
                        <a href="javascript:void(0)" (click)="openClass(dialog,node)"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h6>Fleet Type
                    <button nbButton outline size="tiny" class="float-right" (click)="openType(dialog1)"><i class="fas fa-plus"></i> New Fleet Type</button>
                </h6>
                <div class="my-card" *ngFor="let node of type_nodes">
                    <div class="wrap">
                        <div class="ico"><span>{{node.type}}</span></div>
                        <a href="javascript:void(0)" (click)="openType(dialog1,node)"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="add-section">
    <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card class="modal-content modal-lg">
            <nb-card-header class="text-center modal-header">Fleet Class <button (click)="ref.close()" class="float-right close-button"><i class="fa fa-times"></i></button></nb-card-header>
            <nb-card-body>
                <form method="POST" (submit)="submitFleetClassForm(fleetClassForm)" #fleetClassForm="ngForm" class="form-wrap">
                    <div class="form-group">
                        <label>Class Name</label>
                        <input type="text" nbInput fullWidth name="name" #name="ngModel" [(ngModel)]="currentClass.name" required="required">
                    </div>
                    <div class="form-group">
                        <label>Information</label>
                        <textarea nbInput fullWidth name="info" #info="ngModel" [(ngModel)]="currentClass.info" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <button [disabled]="!fleetClassForm.form.valid" type="submit" nbButton [status]="'success'" [size]="'small'" outline>Submit</button>
                        <button (click)="delete(true)"  type="button" nbButton [status]="'danger'" [size]="'small'" outline>Delete</button>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </ng-template>
</div>
<div class="add-section">
    <ng-template #dialog1 let-data let-ref="dialogRef">
        <nb-card class="modal-content modal-lg">
            <nb-card-header class="text-center modal-header">Fleet Type <button (click)="ref.close()" class="float-right close-button"><i class="fa fa-times"></i></button></nb-card-header>
            <nb-card-body>
                <form method="POST" (submit)="submitFleetTypeForm(fleetTypeForm)" #fleetTypeForm="ngForm" class="form-wrap">
                    <div class="form-group">
                        <label>Type Name</label>
                        <input type="text" nbInput fullWidth name="type" #type="ngModel" [(ngModel)]="currentType.type" required="required">
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label>Passenger</label>
                            <input type="number" nbInput fullWidth name="passenger_count" #name="ngModel" [(ngModel)]="currentType.passenger_count" required="required">
                        </div>
                        <div class="col-sm-4">
                            <label>Luggage</label>
                            <input type="number" nbInput fullWidth name="luggage_count" #name="ngModel" [(ngModel)]="currentType.luggage_count" required="required">
                        </div>
                        <div class="col-sm-4">
                            <label>Suitcase</label>
                            <input type="number" nbInput fullWidth name="suitcase_count" #name="ngModel" [(ngModel)]="currentType.suitcase_count" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Information</label>
                        <textarea nbInput fullWidth name="info" #info="ngModel" [(ngModel)]="currentType.info" required="required"></textarea>
                    </div>
                    <div class="form-group">
                        <button [disabled]="!fleetTypeForm.form.valid" type="submit" nbButton [status]="'success'" [size]="'small'" outline>Submit</button>
                      <button (click)="delete()"  type="button" nbButton [status]="'danger'" [size]="'small'" outline>Delete</button>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </ng-template>
</div>
