<img [src]=" image_url | secure | async"  alt="" style="height: 100px !important;"/>
<a class="download-file" (click)="download($event,dialog)" href="#" ><i class="fa fa-download"></i> Download</a>
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="modal-content modal-lg">
    <nb-card-header class="text-center modal-header"> <button (click)="ref.close()" class="float-right close-button"><i class="fa fa-times"></i></button></nb-card-header>
    <nb-card-body>
      <img [src]=imageUrl>
    </nb-card-body>
  </nb-card>
</ng-template>
