<ngx-content-header [breadcrumbs]="breadcrumbs"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid">
    <nb-card>
        <nb-card-body>
            <form method="POST" (ngSubmit)="submitForm()" enctype="multipart/form-data" #faqForm="ngForm" class="form-wrap">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" nbInput name="name" ngModel #name="ngModel" [(ngModel)]="categoryResponse.name" class="input-full-width size-medium status-basic" placeholder="Enter Title" required>
                    <ngx-validation-error [notValid]="notValid(name)" [valid]="valid(name)"></ngx-validation-error>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="!faqForm.form.valid" nbButton [status]="'success'" [size]="'small'" outline>Save Page</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</section>