<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
  <path d="M63.494 142.321L250 34.641l30.591 17.662L94.115 160v180L160 378.038v.005l29.992 17.311.008.005V234.078L250 268l90 49.523v-160.92l35.885 20.717v145.36L250 395.359v-.009l-30.008 17.325.031.018-30.589 17.698-.064-.037-30 17.321.096.055-.466.27 26.981 15.039L250 500l216.506-125V125L370.63 69.646l-30 17.32 95.876 55.355V357.68L250 465.359l-30.591-17.662L405.885 340V160L340 121.962v-.005l-29.992-17.311-.008-.005v161.692L250 233l-90-50.523-.004 34.638.004.002v126.28l-35.885-20.717V177.32L250 104.641v.009l30.008-17.325-.031-.017 30.589-17.7.064.038 30-17.32-.096-.056L341 52l-26.981-15.039L250 0 33.494 125v250l95.876 55.354 30-17.32-95.876-55.355V142.321z" />
  <defs>
    <linearGradient id="paint0_linear" x1="0" x2="500" y1="0" y2="500" gradientUnits="userSpaceOnUse">
      <stop stop-color="#219653" />
      <stop offset="1" stop-color="#2D9CDB" />
    </linearGradient>
  </defs>
</svg>