.list-group-item label {
    color: fff;
    width: 95%;
}

input.menu {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    outline: none;
    height: 30px;
    transition: height 1s;
    -webkit-transition: height 1s;
}

.half-block {
    margin: 10px 16px;
    h6 {
        font-size: 18px;
        font-weight: 500;
        color: #8f9bb3;
        margin-bottom: 10px;
    }
    ul li {
        margin-bottom: 8px;
        border-radius: 5px;
        padding: 8px 16px 4px 16px;
        background: #192038;
        &:hover {
            background: #151a30;
        }
        input {
            color: #fff;
            width: 50%;
        }
    }
}

.content h5 {
    font-size: 20px;
    border-bottom: 1px solid #343e5d;
    font-weight: 500;
    padding: 30px 1px 0px;
    color: #0c84fe;
    margin-bottom: 10px;
    border: none;
    .row {
        margin-bottom: 24px;
    }
}

.manage-image-crop {
    width: 80px;
    height: 80px;
}

input,
input::-webkit-input-placeholder {
    font-size: 14px;
}

.common-form .form-group input,
.common-form .form-group textarea {
    max-width: 100%;
}