<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'list'"></ngx-content-header>
<section class="content container-fluid">
    <div class="row" *ngFor="let common of commonList">
        <div class="col-sm-12">
            <h5>{{common.name}}</h5>
            <ngx-tree-form-list [nodes]="common.list_data" [shownForm]="false" [current_node]="currentNode" (nodeClicked)="showType($event)">
              <form method="post" #commonForm="ngForm"  (ngSubmit)="submitForm(commonForm)"  enctype="multipart/form-data" class="common-form">
                <div class="row">
                  <div class="form-group {{field.type=='detail' ? 'col-sm-12' :'col-sm-6'}}" *ngFor="let field of common.list.fields">
                    <label>{{field.name}}</label>
                    <input type="{{field.type==='url' ? 'url' : 'text'}}" [(ngModel)]="currentNode[field.type]" name="{{field.type}}" class="form-control status-basic" nbInput placeholder="Enter {{field.name}}" required *ngIf="field.type=='title' || field.type=='extra' || field.type=='url'">
                    <textarea name="{{field.type}}" [(ngModel)]="currentNode[field.type]" class="form-control status-basic" rows='4' nbInput placeholder="Enter {{field.name}}" required *ngIf="field.type=='detail'"></textarea>
                    <div *ngIf="field.type=='image'">
                      <ngx-image-input [imageUrl]="image_url"></ngx-image-input>
                    </div>
                  </div>
                  <div class="form-group col-sm-12">
                    <div class="buttons-row">
                      <button nbButton [status]="'info'" [size]="'small'">
                        Edit {{common.name}}
                      </button>
                      <button nbButton [status]="'danger'" [size]="'small'">
                        Delete {{common.name}}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </ngx-tree-form-list>
        </div>
    </div>
</section>
