<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'driver'"></ngx-content-header>
<div class="header-nav">
    <div class="header-rt-blc">
        <h5 class="text-center">Statements</h5>
        <a href="javascript:void(0)" class="btn btn-outline" (click)="openDialog(dialog)">
            <i class="fa fa-plus"></i> New Driver Statement
        </a>
    </div>
</div>
<div id="grid-wrapper" style="width:100%; height: 90%">
  <ngx-table-header [(filterText)]="filterText"
                    [(paginationNumber)]="paginationNumber"
                    (paginationChanged)="onPageSizeChanged()"
                    (searchChanged)="onFilterTextBoxChanged()">
  </ngx-table-header>
  <ag-grid-angular style="width: 100%; height: 90%;"
                   id="myGrid"
                   [class]="ag_class"
                   [columnDefs]="columnDefs"
                   [defaultColDef]="defaultColDef"
                   [rowData]="rowData"
                   [animateRows]="true"
                   (firstDataRendered)="onFirstDataRendered($event)"
                   (gridSizeChanged)="onGridSizeChanged($event)"
                   (gridReady)="onGridReady($event)"
                   [pagination]="true"
                   [rowModelType]="'infinite'"
                   [cacheBlockSize]="paginationCount"
                   [paginationPageSize]="paginationCount">

  </ag-grid-angular>
</div>

<div class="add-section">
    <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card class="modal-content modal-lg">
            <nb-card-header class="text-center modal-header">Statement <button (click)="ref.close()" class="float-right close-button"><i class="fa fa-times"></i></button></nb-card-header>
            <nb-card-body>
                <form method="POST" (ngSubmit)="submitStatementForm(statementForm)" #statementForm="ngForm" class="form-wrap">
                    <div class="form-group">
                        <label>Statement Title</label>
                        <input type="text" nbInput name="title" required="required" ngModel [(ngModel)]="statementFormData.title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Driver</label><br>
                        <nb-select *ngIf="drivers" (selectedChange)="driverChange($event)">
                            <nb-option *ngFor="let driver of drivers" [value]="driver.id">{{driver.name}}</nb-option>
                        </nb-select>
                    </div>
                    <div class="form-group">
                        <label>Choose Date</label>
                        <input autocomplete="off" type="text" nbInput name="date_range" [nbDatepicker]="rangepicker" ngModel [(ngModel)]="statementFormData.date_range" required="required" class="form-control">
                        <nb-rangepicker #rangepicker></nb-rangepicker>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" nbButton [status]="'success'" [size]="'small'" outline>Generate Statement</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </ng-template>
</div>
