<ul class="list-group" dnd-sortable-container [sortableData]="nodes" >
  <li class="list-group-item" *ngFor="let node of nodes; let i = index" dnd-sortable [sortableIndex]="i" [dragEnabled]="false">
    <label  class="css-label-sortable"><input type="text" class="menu" value="{{node.name}}"> </label>
    <span class="pull-right text-success"><i class="fa fa-eye"></i></span>
    <div class="clear"></div>
  </li>
</ul>
