.list-group-item label {
    color: #333;
    width: 95%;
}

input.menu {
    color: black;
    border: none;
    outline: none;
    height: 30px;
    transition: height 1s;
    -webkit-transition: height 1s;
}

h6 {
    font-size: 18px;
    font-weight: 500;
    padding-left: 12px;
    color: #8f9bb3;
    margin-bottom: 10px;
}

ul li {
    margin-bottom: 8px;
    border-radius: 5px;
    padding: 10px 16px;
    background: #fff;
    color: #3a3a3a;
    &:hover {
        background: #188df8;
        color: #fff;
        input{
            color: #fff;
            background: transparent;
        }
        i{
            color: #fff;
        }

    }
    input {
        color: #212121;
        width: 50%;
    }
    label {
        cursor: pointer;
        margin: 0;
    }
}