<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'transaction'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid" >
  <form (ngSubmit)="submitForm(settingForm)" enctype="multipart/form-data" #settingForm="ngForm" >
    <div class="row">
      <div class="col-md-6">
        <nb-card>
          <nb-card-body>
            <label>Title</label>
            <nb-form-field>
              <input type="text" #name="ngModel"  nbInput fullWidth  class="size-medium status-basic" name="name" ngModel  [(ngModel)]="report.name" placeholder="Enter Report Title" required >
              <ngx-validation-error [notValid]="notValid(name)" [valid]="valid(name)" [validationError]="getError(name)"></ngx-validation-error>
            </nb-form-field>        <br>
            <label>Generate Date Range</label>
            <nb-form-field>
              <input name="date_range"  #date_range="ngModel" nbInput placeholder="Range Picker" fullWidth [nbDatepicker]="rangepicker" required  ngModel  [(ngModel)]="report.date_range">
              <ngx-validation-error [notValid]="notValid(date_range)" [valid]="valid(date_range)" [validationError]="getError(date_range)"></ngx-validation-error>
              <nb-rangepicker #rangepicker></nb-rangepicker>
            </nb-form-field>        <br>
            <label>Report Type</label>
            <nb-form-field>
              <nb-select #type="ngModel"  name="type" [(ngModel)]="report.type" required>
                <nb-option [value]="''">Select Type</nb-option>
                <nb-option [value]="'common'">Common</nb-option>
              </nb-select>
              <ngx-validation-error [notValid]="notValid(type)" [valid]="valid(type)" [validationError]="getError(type)"></ngx-validation-error>
            </nb-form-field>
            <hr>
            <button type="submit" [disabled]="!settingForm.form.valid" nbButton outline status="success">Create</button>
            &nbsp;<i class="fa fa-spinner fa-spin" *ngIf="submitting"></i>

          </nb-card-body>
        </nb-card>

      </div>
    </div>
  </form>
</section>
