<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'location'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid">
    <nb-card>
        <nb-card-body>
            <form method="POST" (ngSubmit)="submitForm()" enctype="multipart/form-data" #locationForm="ngForm" class="form-wrap">
                <div class="row">
                    <div class="col-sm-8">
                        <google-map #map [options]="options" width="100%" height="33.5625rem">
                        </google-map>
                        <br>
                        <button type="button" class="btn btn-outline btn-outline-info" (click)="init_draw_tools()">{{'Draw'}}</button>
                        <button type="submit" [disabled]="!locationForm.form.valid" class="btn btn-outline btn-outline-success">{{ editMode ? 'Update' : 'Save' }}</button>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Area</label>
                            <nb-select *ngIf="locationData.area_id || locationDataStatus" [(selected)]="locationData.area_id" (selectedChange)="areaChange($event)" required>
                                <nb-option  [value]="''">Select Area/State</nb-option>
                                <nb-option *ngFor="let area of areas" [value]="area.id">{{area.name}}</nb-option>
                            </nb-select>
                        </div>
                        <div class="form-group">
                            <label>Location Name</label>
                            <input type="text" nbInput name="name" ngModel #name="ngModel" [(ngModel)]="locationData.name" #searchInput placeholder="Enter Location Name" required>
                            <ngx-validation-error [notValid]="notValid(name)" [valid]="valid(name)"></ngx-validation-error>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <nb-select *ngIf="locationData.location_type_id || locationDataStatus" [(selected)]="locationData.location_type_id" (selectedChange)="typeChange($event)" required>
                                <nb-option  [value]="''">Select Location Type</nb-option>
                                <nb-option *ngFor="let type of types" [value]="type.id">{{type.title}}</nb-option>
                            </nb-select>
                        </div>
                        <div class=" form-group col-sm-12">
                            <nb-checkbox status="success" [checked]="area.autoSearch" #autoSearch>Auto Search Zone</nb-checkbox>
                        </div>
                        <div class="form-group">
                            <button type="submit" [disabled]="!locationForm.form.valid" nbButton>Save Location</button>
                        </div>
                        <h6 class="text-center">Found Polygons</h6>
                        <nb-list>
                            <nb-list-item *ngFor="let poly of found_polygons | keyvalue ;" [class]="poly.key == current_plotted ? 'active' : ''" (click)="plotToMap(poly)">
                                <div class="poly-title" style="width: 90%;">
                                    <span class="title">{{poly.value.display_name}}</span>
                                </div>
                                <div class="poly-source">
                                    <span>
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </div>
                            </nb-list-item>
                        </nb-list>
                    </div>

                </div>
            </form>
        </nb-card-body>
    </nb-card>
</section>
