<span class="icon validation small success" *ngIf="valid">
    <span class="fa fa-check"></span>
</span>
<span class="icon validation small error" [nbTooltip]="validationError" nbTooltipStatus="danger" *ngIf="notValid">
      <span class="fa fa-times"></span>
</span>

