.icon.error {
  background: #ff0022;
}
.icon.success {
  background: #00aa11;
}
.icon.validation {
  width: 13px;
  height: 13px;
  position: absolute;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-size: 0.4rem;
  text-align: center;
  line-height: 0.9rem;
  color: #fff;
}

ngx-validation-error .icon.validation {
  top: 0;
  right: 10%;
}

