<ngx-content-header [breadcrumbs]="breadcrumbs" [current]="'fleet'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<div class="row">
    <div class="col-sm-12">
        <nb-card>
          <nb-card-body>
            <form method="POST" (submit)="submitFleetDetailForm(fleetForm)" #fleetForm="ngForm" class="form-wrap">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Fleet Type</label>
                    <nb-select fullWidth [(selected)]="selectedType.id" *ngIf="responseDataFleets" (selectedChange)="fleetTypeChange($event)">
                      <nb-option  *ngFor="let type of responseDataFleets.typeData" [value]="type.id">{{type.type}}</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Fleet Class</label>
                    <nb-select fullWidth [(selected)]="selectedClass.id" *ngIf="responseDataFleets" (selectedChange)="fleetClassChange($event)">
                      <nb-option *ngFor="let classSingle of responseDataFleets.classData" [value]="classSingle.id">{{classSingle.name}}</nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="active">Fleet Make</label>
                    <input type="text" nbInput name="make_name" #make_name="ngModel" [(ngModel)]="responseDataFleet.make_name" required="required" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Fleet Model</label>
                    <input type="text" fullWidth nbInput name="model_name" #model_name="ngModel" [(ngModel)]="responseDataFleet.model_name" required="required" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Fleet Number</label>
                    <input type="text" fullWidth nbInput name="number" #number="ngModel" [(ngModel)]="responseDataFleet.number" required="required" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Child seat availability</label>
                    <input type="number" nbInput name="available_child_seats" #available_child_seats="ngModel" [(ngModel)]="responseDataFleet.available_child_seats" required="required" min="0" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Amenities</label>
                    <div id="fleet_amenities" *ngIf="responseDataFleets">
                      <div class="checkbox" *ngFor="let amenity of responseDataFleets.amenities; let i=index;">
                        <nb-checkbox status="basic" [name]="'amenities_'+ i" (change)="toggle(amenity.id)" [checked]="currentAmenities[amenity.id]"> {{ amenity.name }}</nb-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4" *ngIf="selectedType !== undefined">
                  <p class="text-center">
                    <span><i class="fa fa-users"></i> {{selectedType.passenger_count}} &nbsp;&nbsp;</span>
                    <span><i class="fa fa-suitcase"></i> {{selectedType.suitcase_count}}&nbsp;&nbsp;</span>
                    <span><i class="fa fa-shopping-bag"></i> {{selectedType.luggage_count}}</span>
                  </p>
                  <p class="text-center">
                    <span> {{selectedClass.info}} </span>
                  </p>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <div class="col-sm-12">
                  <button type="submit" nbButton [status]="'success'" [size]="'small'" outline>Submit</button>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
    </div>
</div>
