<ngx-content-header [breadcrumbs]="breadcrumbs" [current]="'driver'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid" >
  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-body>
          <form (ngSubmit)="submitForm(settingForm)" enctype="multipart/form-data" #settingForm="ngForm" >
            <label>Primary Commission %</label>
            <nb-form-field>
              <input type="number" #primary_commission="ngModel" nbInput fullWidth  class="size-medium status-basic" name="primary_commission" ngModel [(ngModel)]="driver.primary_commission" placeholder="Enter Commission" required step="0.1" [min]="1" [max]="100" >
              <nb-icon nbSuffix icon="percent-outline" pack="eva"></nb-icon>
              <ngx-validation-error [notValid]="notValid(primary_commission)" [valid]="valid(primary_commission)"></ngx-validation-error>
            </nb-form-field>
            <label>Invoice Raise Option</label>
            <div class="radio-tile-group">

              <div class="input-container">
                <input id="daily" class="radio-button type-picker" type="radio" name="invoice_raised_type" [(ngModel)]="driver.invoice_raised_type" value="daily" required  >
                <div class="radio-tile">
                  <div class="icon walk-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512"  xml:space="preserve" width="512" height="512">
                                          <g id="XMLID_700_">
                                              <g id="XMLID_684_">
                                                  <g id="XMLID_685_">
                                                      <path id="XMLID_699_" d="M462,172c2.63,0,5.21-1.07,7.069-2.931C470.93,167.21,472,164.63,472,162s-1.07-5.21-2.931-7.07     c-1.859-1.86-4.439-2.93-7.069-2.93s-5.21,1.069-7.07,2.93S452,159.37,452,162s1.069,5.21,2.93,7.069     C456.79,170.93,459.37,172,462,172z"/>
                                                    <path id="XMLID_698_" d="M196.5,443.667h-0.149c-5.522,0-10,4.478-10,10s4.478,10,10,10h0.149c5.522,0,10-4.478,10-10     S202.022,443.667,196.5,443.667z"/>
                                                    <path id="XMLID_691_" d="M512,401.591V70c0-16.542-13.458-30-30-30h-34.254v-6c0-18.748-15.252-34-34-34s-34,15.252-34,34v6     h-89.873v-6c0-18.748-15.252-34-34-34s-34,15.252-34,34v6H132v-6c0-18.748-15.252-34-34-34S64,15.252,64,34v6H30     C13.458,40,0,53.458,0,70v412c0,16.542,13.458,30,30,30h371.591c2.76,0,5.259-1.119,7.068-2.927     c0.001-0.001,0.002-0.001,0.003-0.002l100.409-100.409l0,0C510.88,406.852,512,404.352,512,401.591z M399.746,34     c0-7.72,6.28-14,14-14s14,6.28,14,14v49c0,7.72-6.28,14-14,14s-14-6.28-14-14V34z M241.873,34c0-7.72,6.28-14,14-14     s14,6.28,14,14v49c0,7.72-6.28,14-14,14s-14-6.28-14-14V34z M84,34c0-7.72,6.28-14,14-14s14,6.28,14,14v49c0,7.72-6.28,14-14,14     s-14-6.28-14-14V34z M20,482v-18.333h136.5c5.522,0,10-4.478,10-10s-4.478-10-10-10H20V172h402c5.522,0,10-4.478,10-10     s-4.478-10-10-10H20V70c0-5.514,4.486-10,10-10h34v23c0,18.748,15.252,34,34,34s34-15.252,34-34V60h89.873v23     c0,18.748,15.252,34,34,34s34-15.252,34-34V60h89.873v23c0,18.748,15.252,34,34,34s34-15.252,34-34V60H482     c5.514,0,10,4.486,10,10v321.591h-70.409c-16.542,0-30,13.458-30,30V492H30C24.486,492,20,487.514,20,482z M411.591,477.857     v-56.267c0-5.514,4.486-10,10-10h56.267L411.591,477.857z"/>
                                                    <path id="XMLID_690_" d="M196.061,350.513V316v-34.513c0-10.745-8.742-19.487-19.487-19.487h-43.313c-5.522,0-10,4.478-10,10     s4.478,10,10,10h42.8v24h-42.8c-5.522,0-10,4.478-10,10s4.478,10,10,10h42.8v24h-42.8c-5.522,0-10,4.478-10,10s4.478,10,10,10     h43.313C187.318,370,196.061,361.258,196.061,350.513z"/>
                                                    <path id="XMLID_687_" d="M282.86,282c5.522,0,10-4.478,10-10s-4.478-10-10-10h-43.313c-10.745,0-19.487,8.742-19.487,19.487V316     v34.513c0,10.745,8.742,19.487,19.487,19.487h33.825c10.745,0,19.487-8.742,19.487-19.487v-25.025     c0-10.745-8.742-19.487-19.487-19.487H258.66h-18.6v-24H282.86z M258.66,326h14.2v24h-32.8v-24H258.66z"/>
                                                    <path id="XMLID_686_" d="M370.173,306h-16.912h-16.4v-24h42.8c5.522,0,10-4.478,10-10s-4.478-10-10-10h-43.313     c-10.745,0-19.487,8.742-19.487,19.487v25.025c0,10.745,8.742,19.487,19.487,19.487h16.913h16.399v24h-42.8     c-5.522,0-10,4.478-10,10s4.478,10,10,10h43.313c10.745,0,19.487-8.742,19.487-19.487v-25.025     C389.66,314.742,380.918,306,370.173,306z"/>
                                                  </g>
                                              </g>
                                          </g>
                                      </svg>
                  </div>
                  <label for="daily" class="radio-tile-label">Daily</label>
                </div>
              </div>

              <div class="input-container">
                <input id="weekly" class="radio-button type-picker" type="radio" name="invoice_raised_type" [(ngModel)]="driver.invoice_raised_type"  value="weekly" >
                <div class="radio-tile">
                  <div class="icon bike-icon">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="32.75px" height="32.75px" viewBox="0 0 32.75 32.75"  xml:space="preserve"
                    >
                                          <g>
                                              <g>
                                                  <path d="M29.375,1.25h-1.124c0.028-0.093,0.058-0.186,0.058-0.289C28.311,0.431,27.879,0,27.348,0s-0.961,0.431-0.961,0.961
                                                      c0,0.103,0.028,0.196,0.059,0.289h-3.68c0.029-0.093,0.058-0.186,0.058-0.289C22.823,0.43,22.393,0,21.861,0
                                                      C21.331,0,20.9,0.431,20.9,0.961c0,0.103,0.029,0.196,0.059,0.289h-3.68c0.029-0.093,0.058-0.186,0.058-0.289
                                                      C17.336,0.431,16.906,0,16.375,0c-0.531,0-0.961,0.431-0.961,0.961c0,0.103,0.029,0.196,0.058,0.289h-3.68
                                                      c0.029-0.093,0.058-0.186,0.058-0.289C11.85,0.431,11.419,0,10.888,0c-0.531,0-0.961,0.431-0.961,0.961
                                                      c0,0.103,0.028,0.196,0.058,0.289h-3.68c0.03-0.093,0.058-0.186,0.058-0.289C6.363,0.43,5.933,0,5.402,0
                                                      C4.871,0,4.441,0.431,4.441,0.961c0,0.103,0.029,0.196,0.058,0.289H3.375c-1.517,0-2.75,1.233-2.75,2.75v26
                                                      c0,1.518,1.233,2.75,2.75,2.75H26.27l5.855-5.855V4C32.125,2.483,30.893,1.25,29.375,1.25z M30.625,26.273l-0.311,0.311h-2.356
                                                      c-1.101,0-2,0.9-2,2v2.355l-0.31,0.311H3.375c-0.689,0-1.25-0.561-1.25-1.25V9h28.5V26.273z"/>
                                                <path d="M7.807,22.195c-0.253,0-0.528-0.066-0.737-0.198c-0.22-0.132-0.374-0.341-0.429-0.627H4.155
                                                      c0.055,1.43,1.419,2.651,3.509,2.651c2.178,0,3.708-0.892,3.708-2.729c0-2.882-4.555-2.146-4.555-3.333
                                                      c0-0.286,0.253-0.451,0.825-0.451c0.253,0,0.484,0.044,0.671,0.143c0.187,0.1,0.33,0.265,0.374,0.541h2.464
                                                      c-0.187-1.386-1.188-2.509-3.388-2.509c-1.98,0-3.433,0.847-3.433,2.531c0,3.025,4.555,2.2,4.555,3.398
                                                      C8.885,21.986,8.456,22.195,7.807,22.195z"/>
                                                <path d="M15.771,24.021c2.629,0,3.806-1.111,3.806-3.652v-4.478H16.98v4.741c0,0.858-0.274,1.453-1.209,1.453
                                                      c-1.067,0-1.221-0.671-1.221-1.453v-4.741h-2.597v4.466C11.953,23.086,13.317,24.021,15.771,24.021z"/>
                                                <polygon points="23.042,21.305 22.941,19.5 25.77,23.812 28.201,23.812 28.201,15.891 25.715,15.891 25.715,18.41 25.814,20.214
                                                      22.986,15.891 20.555,15.891 20.555,23.812 23.042,23.812 		"/>
                                              </g>
                                          </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                      <g>
                                                                                  </g>
                                          </svg>
                  </div>
                  <label for="weekly" class="radio-tile-label">Weekly</label>
                </div>
              </div>
              <div class="input-container">
                <input id="monthly" class="radio-button type-picker" type="radio" name="invoice_raised_type" [(ngModel)]="driver.invoice_raised_type" required  value="monthly" >
                <div class="radio-tile">
                  <div class="icon bike-icon">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="439.803px" height="439.803px" viewBox="0 0 439.803 439.803"
                         xml:space="preserve">
  <g>
      <g id="Layer_2_42_">
          <g>
              <path d="M47.168,153.874V370.37c0,5.523,4.479,10,10,10h325.465c5.523,0,10-4.477,10-10V153.874c0-5.523-4.477-10-10-10H57.168
          C51.647,143.874,47.168,148.351,47.168,153.874z M67.168,163.874h305.465V360.37H67.168V163.874z"/>
            <path d="M429.803,59.434h-55.236h-4.338V22.265c0-5.523-4.479-10-10-10h-61.32c-5.52,0-10,4.477-10,10v37.169H150.893V22.265
          c0-5.523-4.477-10-10-10h-61.32c-5.521,0-10,4.477-10,10v37.169h-4.338H10c-5.523,0-10,4.477-10,10v348.104
          c0,5.523,4.477,10,10,10h419.803c5.521,0,10-4.477,10-10V69.434C439.803,63.911,435.324,59.434,429.803,59.434z M308.908,32.265
          h41.32v27.169h-41.32V32.265z M89.573,32.265h41.32v27.169h-41.32V32.265z M419.803,407.538H20V79.434h45.234h14.338h61.32
          h158.016h61.32h14.338h45.236V407.538L419.803,407.538z"/>
            <path d="M203.332,255.478c7.586-6.255,12.533-15.119,12.533-26.476c0-15.934-10.096-34.542-38.549-34.542
          c-15.25,0-29.818,6.524-38.367,12.631c-4.494,3.21-5.535,9.456-2.326,13.95c3.211,4.493,9.455,5.534,13.951,2.325
          c5.75-4.108,16.205-8.905,26.742-8.905c12.309,0,18.549,4.894,18.549,14.542c0,13.514-16.738,17.119-24.844,17.51
          c-0.486-0.009-0.977-0.013-1.469-0.013h-12.271c-5.521,0-10,4.526-10,10.05s4.479,10,10,10h12.271
          c0.537,0,1.074-0.007,1.611-0.021c7.686,0.268,30.244,2.756,30.463,22.711c0.047,2.582-0.391,9.147-5.477,14.33
          c-4.586,4.67-11.764,7.039-21.338,7.039c-12.539,0-25.213-5.197-30.67-8.69c-4.654-2.978-10.836-1.619-13.814,3.032
          c-2.977,4.652-1.619,10.836,3.033,13.812c6.873,4.398,23.34,11.846,41.451,11.846c18.861,0,29.775-7.086,35.609-13.029
          c7.318-7.455,11.4-17.92,11.201-28.635C221.467,274.61,214.729,262.93,203.332,255.478z"/>
            <path d="M272.957,195.498c-12.098,0-22.461,7.143-29.178,20.113c-6.057,11.697-9.127,27.699-9.127,47.562
          c0,61.609,29.156,66.398,38.092,66.398c14.307,0,38.307-8.793,38.307-67.676C311.051,204.124,287.184,195.498,272.957,195.498z
           M272.744,309.569c-10.822,0-18.092-18.646-18.092-46.397c0-32.756,9.488-47.675,18.305-47.675
          c16.33,0,18.094,32.448,18.094,46.399C291.051,273.08,289.73,309.569,272.744,309.569z"/>
          </g>
      </g>
  </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
                      <g>
                                          </g>
  </svg>
                  </div>
                  <label for="monthly" class="radio-tile-label">Monthly</label>
                </div>
              </div>
            </div>
            <div  id="amount-type" *ngIf="driver.invoice_raised_type=='daily'">
              <div class="form-group col-md-12">
                <label>Time</label><br>
                <span> At Every 11:00 pm</span>
              </div>
            </div>
            <div  id="weekly-type" *ngIf="driver.invoice_raised_type=='weekly'">

              <label>Week Day</label>
              <nb-select name="invoice_weekday" required  #invoice_weekday="ngModel" placeholder="Select WeekDay" [(ngModel)]="driver.invoice_weekday" fullWidth>
                <nb-option value="">Select</nb-option>
                <nb-option value="sun" >Sun</nb-option>
                <nb-option value="mon" >Mon</nb-option>
                <nb-option value="tue" >Tue</nb-option>
                <nb-option value="wed" >Wed</nb-option>
                <nb-option value="thu" >Thu</nb-option>
                <nb-option value="fri" >Fri</nb-option>
                <nb-option value="sat" >Sat</nb-option>
              </nb-select>
              <ngx-validation-error [notValid]="notValid(invoice_weekday)" [valid]="valid(invoice_weekday)"></ngx-validation-error>
            </div>
            <div  id="monthly-type" *ngIf="driver.invoice_raised_type=='monthly'">
              <label>Day</label>
              <nb-select name="invoice_day" required  #invoice_day="ngModel" placeholder="Select Dat" [(ngModel)]="driver.invoice_day" fullWidth>
                <nb-option value="">Select</nb-option>
                <nb-option value="1" >1</nb-option>
                <nb-option value="2" >2</nb-option>
                <nb-option value="3" >3</nb-option>
                <nb-option value="4" >4</nb-option>
                <nb-option value="5" >5</nb-option>
                <nb-option value="6" >6</nb-option>
                <nb-option value="7" >7</nb-option>
                <nb-option value="8" >8</nb-option>
                <nb-option value="9" >9</nb-option>
                <nb-option value="10" >10</nb-option>
                <nb-option value="11" >11</nb-option>
                <nb-option value="12" >12</nb-option>
                <nb-option value="13" >13</nb-option>
                <nb-option value="14" >14</nb-option>
                <nb-option value="15" >15</nb-option>
                <nb-option value="16" >16</nb-option>
                <nb-option value="17" >17</nb-option>
                <nb-option value="18" >18</nb-option>
                <nb-option value="19" >19</nb-option>
                <nb-option value="20" >20</nb-option>
                <nb-option value="21" >21</nb-option>
                <nb-option value="22" >22</nb-option>
                <nb-option value="23" >23</nb-option>
                <nb-option value="24" >24</nb-option>
                <nb-option value="25" >25</nb-option>
                <nb-option value="26" >26</nb-option>
                <nb-option value="27" >27</nb-option>
                <nb-option value="28" >28</nb-option>
                <nb-option value="29" >29</nb-option>
                <nb-option value="30" >30</nb-option>
                <nb-option value="31" >31</nb-option>
              </nb-select>
              <ngx-validation-error [notValid]="notValid(invoice_day)" [valid]="valid(invoice_day)"></ngx-validation-error>
            </div>
            <hr>
            <button type="submit" [disabled]="!settingForm.form.valid" nbButton outline status="success">Update</button>
            &nbsp;<i class="fa fa-spinner fa-spin" *ngIf="submitting"></i>
          </form>
        </nb-card-body>
      </nb-card>

    </div>
    <div class="col-md-6">
      <nb-card>
        <nb-card-body>
          <form (ngSubmit)="submitBankForm(bankSettingForm)" enctype="multipart/form-data" #bankSettingForm="ngForm" >
            
            <label>Bank Name</label>
            <nb-form-field>
              <input type="text" #name_of_the_bank="ngModel" nbInput fullWidth  class="size-medium status-basic" name="name_of_the_bank" ngModel [(ngModel)]="driver.name_of_the_bank" placeholder="Enter Bank Name" required  >
              <ngx-validation-error [notValid]="notValid(name_of_the_bank)" [valid]="valid(name_of_the_bank)"></ngx-validation-error>
            </nb-form-field>
            <label>Account Holder</label>
            <nb-form-field>
              <input type="text" #name_on_the_account="ngModel" nbInput fullWidth  class="size-medium status-basic" name="name_on_the_account" ngModel [(ngModel)]="driver.name_on_the_account" placeholder="Enter Account Holder" required  >
              <ngx-validation-error [notValid]="notValid(name_on_the_account)" [valid]="valid(name_on_the_account)"></ngx-validation-error>
            </nb-form-field>
            <label>Account Number</label>
            <nb-form-field>
              <input type="text" #account_number="ngModel" nbInput fullWidth  class="size-medium status-basic" name="account_number" ngModel [(ngModel)]="driver.account_number" placeholder="Enter Account Number" required  >
              <ngx-validation-error [notValid]="notValid(account_number)" [valid]="valid(account_number)"></ngx-validation-error>
            </nb-form-field>
            <label>BSB Number</label>
            <nb-form-field>
              <input type="text" #swift_code="ngModel" nbInput fullWidth  class="size-medium status-basic" name="swift_code" ngModel [(ngModel)]="driver.swift_code" placeholder="Enter BSB Number" required  >
              <ngx-validation-error [notValid]="notValid(swift_code)" [valid]="valid(swift_code)"></ngx-validation-error>
            </nb-form-field>
            <label>Bank Address</label>
            <nb-form-field>
              <input type="text" #bank_address="ngModel" nbInput fullWidth  class="size-medium status-basic" name="bank_address" ngModel [(ngModel)]="driver.bank_address" placeholder="Enter Bank Address" required  >
              <ngx-validation-error [notValid]="notValid(bank_address)" [valid]="valid(bank_address)"></ngx-validation-error>
            </nb-form-field>
         
            <hr>
            <button type="submit" [disabled]="!bankSettingForm.form.valid" nbButton outline status="success">Update</button>
            &nbsp;<i class="fa fa-spinner fa-spin" *ngIf="bank_submitting"></i>
          </form>
        </nb-card-body>
      </nb-card>

    </div>
  </div>


</section>
