<div class="example-header">
  <nb-select (selectedChange)="onPageSizeChanged()" [size]="'small'" [(ngModel)]="paginationNumber">
    <nb-option value="10">10</nb-option>
    <nb-option value="20">20</nb-option>
    <nb-option value="50">50</nb-option>
    <nb-option value="100">100</nb-option>
    <nb-option value="500">500</nb-option>
  </nb-select>
  <div class="float-right">
    <ng-content></ng-content>
    <input fieldSize="small" type="text" nbInput placeholder="Search" [(ngModel)]="filterText" (input)="onFilterTextChanged()">
  </div>
</div>
