.copyright-text {
    margin-bottom: 0;
}

body {
    margin: 0 auto;
    font-family: 'Circular Std Book';
    color: #333 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 16px;
    background-color: #fff !important;
}

section {
    overflow: hidden;
}

ul,
ol {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

.slick-slide:hover,
.slick-slide:focus {
    outline: 0;
    outline-offset: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none !important;
}

a:hover,
a:focus,
a:active,
a:visited {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #000000;
    font-weight: 700;
    font-family: 'Circular Std Bold';
}

// $primary-color: #222b45;
// $secondary-color: #8f9bb3;
h1 {
    font-size: 42px;
}

h2 {
    font-size: 34px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    line-height: 24px;
}

figure {
    overflow: hidden;
    margin-bottom: 0;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

label {
    font-size: 14px;
    color: #8f9bb3;
}

.btn {
    padding: 8px 18px;
    text-transform: capitalize;
    text-align: center;
    font-size: 16px;
}

.btn-outline {
    border: 2px solid #B79334;
    background: transparent;
    border-radius: 5px;
}

.btn-main {
    background: #B79334;
    color: #fff !important;
    padding: 16px 32px;
}

.btn-main:hover {
    color: #fff;
}

.columns nb-layout-column {
    padding: 0 !important;
}

.layout ngx-frontend-header,
.layout ngx-frontend-footer {
    display: block !important;
}

.layout nav.fixed {
    padding: 0 !important;
    height: 3.50rem;
}

.layout-container {
    padding-top: 3.50rem !important;
}

.inner-wrap {
    padding: 80px 0 60px 0;
    background: #fff !important;
}

.heading h3 {
    margin-bottom: 36px;
}

.inr-template-main {
    padding: 80px 0;
}

.inr-template-info h3 {
    margin-bottom: 20px;
}

.nav-tabs .nav-link {
    font-size: 15px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #B79334;
    border-color: #B79334;
}

.inr-template-main .nav-tabs {
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding-bottom: 1px;
    margin-top: 40px;
}

.inr-count {
    padding: 70px 0;
    background: #f9f9f9;
}

.inr-count-block h2 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
}

.fill-banner {
    background: #F2F2F2;
    padding: 80px 0;
    text-align: center;
}

.fill-banner h1 {
    margin-bottom: 16px;
}

.share-template .banner-image {
    width: 560px;
    float: right;
}

.share-template .banner {
    padding-bottom: 30px;
}

.promo-text h3 {
    color: #fff;
    margin-bottom: 24px;
}

.inner-share-template .promo-text p {
    font-size: 18px;
}

.inner-share-template .promo-text {
    margin: 150px 0;
}

.inner-share-template .promo {
    margin-top: 40px;
    padding-bottom: 20px;
}

.inner-share-template .service-desc {
    padding: 20px 70px;
}

.inner-wrap-content h3 {
    margin-bottom: 20px;
}

.inner-wrap-content .btn {
    margin-top: 20px;
}

.page-dropdown nb-option {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #8f9bb3 !important;
}

// table css
.action-block {
    margin-top: 6px;
    font-weight: 400;
}

.action-block nb-action {
    padding: 0 10px !important;
}

.action-block .action-edit {
    padding-top: 16px;
}

.action-block .nb-icon {
    font-size: 22px;
}

.ag-theme-balham-dark {
    .nb-theme-dark nb-actions.size-small nb-action {
        border-color: #8f9bb3;
        padding: 0 12px !important;
        margin-top: 0;
    }
}

.nb-theme-dark nb-toggle.status-success .toggle {
    border-color: #151a30;
    background: #fff;
}

.nb-theme-dark nb-toggle .native-input:enabled:focus+.toggle {
    box-shadow: none !important;
}

.nb-theme-dark nb-toggle .toggle-switcher {
    width: 20px;
    height: 20px;
}

.nb-theme-dark nb-toggle .toggle {
    height: 8px !important;
    width: 60px !important;
}
.nb-theme-default nb-toggle .toggle {
  height: 8px !important;
  width: 60px !important;
}

[dir=ltr] .nb-theme-dark nb-toggle .toggle.checked .toggle-switcher {
    left: calc(100% - 1.75rem - 1px - -0.2375rem) !important;
}

.nb-theme-dark nb-toggle .toggle-switcher {
    height: 8px !important;
    width: 30px !important;
    border-radius: 8px;
    margin: 1px;
    top: -1px;
}
.nb-theme-default nb-toggle .toggle-switcher {
    height: 8px !important;
    width: 30px !important;
    border-radius: 8px;
    margin: 1px;
    top: -1px;
}

.nb-theme-dark nb-toggle.status-success .toggle-switcher nb-icon {
    display: none;
}
.nb-theme-default nb-toggle.status-success .toggle-switcher nb-icon {
    display: none;
}

.nb-theme-default nb-toggle.status-success .toggle {
  background-color: #f39c12 !important;
  border-color: #f39c12 !important;
}
.nb-theme-default nb-toggle.status-success .toggle.checked {
  background-color: #00d68f !important;
  border-color: #00d68f !important;
}

nb-toggle {
    margin-top: 6px;
}

.swal2-popup {
    width: 25em !important;
}

.swal2-title {
    font-size: 18px !important;
    color: #222 !important;
    line-height: 28px !important;
    font-weight: 600 !important;
}

.swal2-actions {
    margin-top: 0 !important;
}

.swal2-actions button {
    font-size: 14px !important;
}

.columns .content-header-list a {
    color: #8f9bb3;
    font-size: 17px;

    &:hover {
        color: #fff;
    }

    &:focus {
        box-shadow: none;
    }
}

.buttons-row button {
    margin-right: 16px;
}

// placeholder
::-webkit-input-placeholder {
    font-size: 13px !important;
}

::-moz-placeholder {
    font-size: 13px !important;
}

:-ms-input-placeholder {
    font-size: 13px !important;
}

:-moz-placeholder {
    font-size: 13px !important;
}

// placeholder
.select-file {
    color: #8f9bb3;
    height: 36px;
    font-size: 13px;
    text-align: left;
}

// .ag-theme-alpine .ng-star-inserted nb-icon{
//     font-size: 20px;
// }
// .ag-theme-alpine .ng-star-inserted nb-actions nb-action:nth-child(1) svg{
//     fill: #36f;
// }
// .ag-theme-alpine .ng-star-inserted nb-actions nb-action:nth-child(2) svg{
//     fill: #ff3d71;
// }
#grid-wrapper,
#myGrid {
    // nb-actions nb-action nb-icon {
    //     font-size: 20px;
    // }
    // nb-actions nb-action:nth-child(1) svg {
    //     fill: #36f;
    // }
    // nb-actions nb-action:nth-child(2) svg {
    //     fill: #ff3d71;
    // }
}

.ag-theme-alpine,
.ag-theme-balham-dark {
    .ag-cell:nth-last-child(1) {
        padding: 0 !important;
    }
}

.ag-theme-alpine-dark,
.ag-theme-balham-dark {
    .ag-header {
        background: #222B45;
    }
}

.ag-theme-alpine-dark .ag-root-wrapper,
.ag-theme-balham-dark .ag-root-wrapper {
    background: #222B45;
}

.ag-theme-alpine-dark .ag-row,
.ag-theme-balham-dark .ag-row {
    background: #222b45;

    &:hover {
        background: #151a30;
    }
}

.ag-theme-alpine-dark .ag-row-even {
    background: #192038 !important;
}

.ag-theme-alpine-dark,
.ag-theme-balham-dark {

    .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected),
    .ag-ltr .ag-cell-range-single-cell,
    .ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle,
    .ag-rtl .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected),
    .ag-rtl .ag-cell-range-single-cell,
    .ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle {
        outline: none !important;
        box-shadow: none !important;
        border-color: transparent !important;
        background: #151a30 !important;
    }
}

.nb-theme-alpine-dark,
.ag-theme-balham-dark {
    nb-actions.size-small nb-action nb-icon {
        font-size: 16px !important;
    }
}

.edit nb-icon svg {
    fill: #36f;
}

.detail nb-icon svg {
    fill: #00d68f;
}

.delete nb-icon svg {
    fill: #ff3d71;
}

.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.radio-tile-group .input-container {
    position: relative;
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
}

.radio-tile-group .input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.radio-tile-group .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid #079ad9;
    border-radius: 5px;
    padding: 1rem;
    transition: transform 300ms ease;
}

.radio-tile-group .input-container .icon svg {
    fill: #079ad9;
    width: 2rem;
    height: 2rem;
}

.radio-tile-group .input-container .radio-tile-label {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #079ad9;
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile {
    background-color: #079ad9;
    border: 2px solid #079ad9;
    color: white;
    transform: scale(1.1, 1.1);
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile .icon svg {
    fill: white;
    background-color: #079ad9;
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile .radio-tile-label {
    color: white;
    background-color: #079ad9;
}

.iti {
    width: 100%;
}

.nb-theme-dark .iti__country-name {
    color: #8f9bb3;
}

.nb-theme-dark .iti__country-list {
    background-color: #151a30 !important;
}

.nb-theme-dark .select2-container--default .select2-selection--single {
    background-color: #192038;
    border-color: #101426;
    color: #ffffff;
}

.nb-theme-dark .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
}

.nb-theme-dark .select2-container--default .select2-results__option--selected {
    background-color: #222b45;
    color: #ffffff;
}

.nb-theme-dark .select2-dropdown {
    background-color: #222b45;
    border-color: #101426;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 0.25rem;
    box-shadow: none;
}

.nb-theme-dark .select2-search__field {
    background-color: #192038;
    border-color: #101426;
    color: #ffffff;
}

.nb-theme-dark .select2-selection.select2-selection--single:focus {
    outline: none !important;
}

.ag-cell {
    overflow: visible;
}

.ag-row {
    z-index: 0;
}

.ag-row.ag-row-focus {
    z-index: 1;
}

.ag-root.ag-layout-auto-height,
.ag-body-viewport.ag-layout-auto-height,
.ag-body-viewport-wrapper.ag-layout-auto-height {
    overflow: visible;
}

.btn {
    line-height: 0.5
}



.nb-theme-dark .dropdown-menu.show {
    padding: 10px;
    border-radius: 0;
    background: #151a30;
}

.nb-theme-dark .dropdown-menu.show a .fa {
    width: 20px;
}

.nb-theme-dark .dropdown-menu.show a {
    color: #fff;
    padding: 3px 0;
    font-size: 12px;
}

.nb-theme-dark .dropdown-toggle[data-toggle="dropdown"] {
    color: #fff;
    padding: 0 10px;
}


.nb-theme-default .dropdown-menu.show {
    padding: 10px;
    border-radius: 0;
    background: #f5f7f7
}

.nb-theme-default .dropdown-menu.show a .fa {
    width: 20px;
}

.nb-theme-default .dropdown-menu.show a {
    color: #000;
    padding: 3px 0;
    font-size: 12px;
}

.nb-theme-default .dropdown-toggle[data-toggle="dropdown"] {
    color: #000;
    padding: 0 10px;
}

.ag-theme-balham .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected),
.ag-theme-balham .ag-ltr .ag-cell-range-single-cell,
.ag-theme-balham .ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle,
.ag-theme-balham .ag-rtl .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected),
.ag-theme-balham .ag-rtl .ag-cell-range-single-cell,
.ag-theme-balham .ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle {
    outline: none;
    border: 0;
}

.nb-theme-dark ::-webkit-scrollbar {
    width: 7px;
    background-color: #151a30;
}

.nb-theme-dark ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #fff;
}

.nb-theme-default ::-webkit-scrollbar {
    width: 7px;
    background-color: #f7f9fc;
}
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nb-theme-default .content-header {
  background: #0179fa;
}

.nb-theme-default ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #222b45;
}

input:-webkit-autofill {
    color: #000 !important;
}

.ag-theme-balham-dark .ag-body-viewport,
.ag-theme-balham-dark .ag-paging-panel {
    background: #fff !important;
    border: none !important;
}

.ag-theme-alpine-dark .ag-header,
.ag-theme-balham-dark .ag-header {
    background: #ffffff !important;
    color: #000;
    border: none !important;

    .ag-header-cell-label {
        color: #0278f7 !important;
    }
}

.nb-theme-default nb-action nb-icon {
  color: #000000 !important;
}
 nb-action nb-icon {

    font-size: 28px !important;
    margin-left: 20px !important;
}

.chart-legend .legend-labels {
    background: #fff !important;
}

#grid-wrapper {
    padding: 15px;

    .ag-header-row {
        color: #0179fa;
        border-bottom: 1px solid #efefefee;
    }
}

.image-input-wrapper .btn-dark{
    background-color: #f7f9fc !important;
    border-color: #e4e9f2 !important;
    color: #222b45 !important;
}

.btn-success {
    color: #fff;
    background-color: #ffffff;
    border-color: #0179fa;
    padding: 8px 22px !important;
    background: #0179fa;
    height: 40px;
    font-size: 15px !important;
    &:hover{
        background: #0179fa;
    }
}

.nb-theme-default .ag-body-viewport nb-action nb-icon {
    color: #000000 !important;
    font-size: 18px !important;
    margin-left: 0px !important;
}
.ag-body-viewport .ag-cell-auto-height {
    height: 100%;
    font-size: 13px !important;
    padding: 10px 0 !important;
}
.my-card {
    background: #ffffff !important;
    box-shadow: 0 0 25px 0 #38383814 !important;
}
.content h6 {
    border-bottom: none !important;
    color: #0178f8 !important;
    margin-top: 15px !important;
}
.nb-theme-default .appearance-outline.status-success {
    background-color: #3366ff !important;
    border-color: #3366ff !important;
    color: #fff !important;
    padding: 8px 22px !important;
    cursor: pointer;
    &:hover{
        color: #3366ff !important;
        background: #fff !important;
    }
}
.nb-theme-default h5, .nb-theme-default .h5{
    margin-top: 10px !important;
}
.nb-theme-default .content h5 {
    color: #0474ee !important;
}
.content h5 {
  border-bottom: none !important;
  margin-bottom: 10px !important;
}

.header-nav h5 {
    margin-bottom: 0 !important;
}
.header-rt-blc .btn-outline {
    display: flex !important;
    align-items: center !important;
}
.ag-body-viewport .ag-cell-auto-height{
    padding: 0 !important;
}
.nb-theme-default ngx-admin-header a.logo {
    color: #000000 !important;
}
ngx-admin-header a.logo {

    font-size: 20px !important;
    font-weight: 600 !important;
}
.form-group label {
    font-size: 14px;
    color: #8f9bb3;
    margin-right: 10px;
}
.intl-phone{
  padding-left: 50px !important;
}


.section-image {
  position: absolute;
  top: 23px;
  right: 20px;
  padding: 2px;
  width: 60px;
  height: 60px;
}

.section-image img {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  width: 60px;
  height: 60px;
}

.section-box:hover .model-section-image {
  filter: brightness(60%);
}

.image-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -9px;
}

.model-section-wrapper {
  position: relative;
}

.model-section-image {
  position: absolute;
  top: 32px;
}

.modal-lg {
  width: 1490px !important;
}

.close-button {
  background: transparent;
  color: #8f9bb3;
  margin: 4px;
  border: 2px solid #8f9bb3;
  padding: 4px 8px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  &:hover {
    color: #fff;
  }
}

.close-button:focus {
  outline: none;
}

.box {
  border: 1px solid #8f9bb3;
  margin: 10px 16px;
  border-radius: 4px;
  padding: 24px;
  margin-top: 24px;
}

.manage-image-crop:hover {
  background: #ddd;
  opacity: 0.5;
  cursor: pointer;
}

#img-preview {
  margin-bottom: .5rem;
  margin-right: .5rem;
  overflow: hidden;
}

#img-preview>img {
  max-width: 100%;
}

.preview-lg {
  height: 7rem;
  width: 13rem;
  margin-top: 15px;
}

#input-image-show {
  width: 100% !important;
}

.form-wrap nb-select {
  width: 100%;
}

.form-wrap label {
  color: #8f9bb3;
}
input.image-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
}
