<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'document'"></ngx-content-header>
<section class="content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h5>Fleet Document Types</h5>
            <!-- <div class="form-group">
                <h6>Select Area</h6>
                <select [(selected)]="areas.id" *ngIf="areas" (change)="areaChange($event)">
                            <option  [value]="0">Default</option>
                            <option *ngFor="let area of areas" [value]="area.id">{{area.name}}</option>
                </select>
            </div> -->
            <ngx-tree-form-list [nodes]="document_nodes" [shownForm]="false" [current_node]="{}" (nodeClicked)="showType($event)">
                <form method="post" #fleetDocTypeForm="ngForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group col-sm-6 ">
                                    <label>Name</label>
                                    <input type="text" name="name" nbInput placeholder="Enter Document Type" #name="ngModel" [(ngModel)]="type.name" required="required" class="form-control status-basic">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <nb-checkbox status="success" (change)="toggle('is_required')" [checked]="type.is_required===1">Required</nb-checkbox>
                        </div>
                        <div class="form-group col-sm-4">
                            <nb-checkbox status="success" (change)="toggle('is_contain_file')" [checked]="type.is_contain_file===1">File</nb-checkbox>
                        </div>
                        <div class="form-group col-sm-4">
                            <nb-checkbox status="success" (change)="toggle('is_contain_expire')" [checked]="type.is_contain_expire===1">Expire Date</nb-checkbox>
                        </div>
                        <div class="form-group col-sm-4">
                            <nb-checkbox status="success" (change)="toggle('is_contain_extra_file')" [checked]="type.is_contain_extra_file===1">Extra File</nb-checkbox>
                        </div>
                        <div class="form-group col-sm-4">
                            <nb-checkbox status="success" (change)="toggle('is_contain_name')" [checked]="type.is_contain_name===1">Name</nb-checkbox>
                        </div>
                        <div class="form-group col-sm-4">
                            <nb-checkbox status="success" (change)="toggle('is_contain_number')" [checked]="type.is_contain_number===1">Number</nb-checkbox>
                        </div>
                        <div class="form-group col-sm-6" *ngIf="type.is_contain_file===1">
                            <label>File Label</label>
                            <input type="text" name="file_name" nbInput class="form-control status-basic" #file_name="ngModel" [(ngModel)]="type.file_name" placeholder="Enter File Label">
                        </div>
                        <div class="form-group col-sm-6" *ngIf="type.is_contain_extra_file===1">
                            <label>Extra File Label</label>
                            <input type="text" name="extra_file_name" nbInput class="form-control status-basic" #extra_file_name="ngModel" [(ngModel)]="type.extra_file_name" placeholder="Enter Extra File Label">
                        </div>
                        <div class="form-group col-sm-6" *ngIf="type.is_contain_expire===1">
                            <label>Expire Date Label</label>
                            <input type="text" name="expire_name" nbInput class="form-control status-basic" #expire_name="ngModel" [(ngModel)]="type.expire_name" placeholder="Enter Expire Date Label">
                        </div>
                        <div class="form-group col-sm-6" *ngIf="type.is_contain_name===1">
                            <label>Name Label</label>
                            <input type="text" name="name_name" nbInput class="form-control status-basic" #name_name="ngModel" [(ngModel)]="type.name_name" placeholder="Enter Name Label">
                        </div>
                        <div class="form-group col-sm-6" *ngIf="type.is_contain_number===1">
                            <label>Number Label</label>
                            <input type="text" name="number_name" nbInput class="form-control status-basic" #number_name="ngModel" [(ngModel)]="type.number_name" placeholder="Enter Number Label">
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="buttons-row" *ngIf="(type.id !=undefined); else elseBlock">
                                <button nbButton [status]="'primary'" (click)="updateDocument()" [size]="'small'" outline>Update Document Type</button>
                                <button nbButton [status]="'danger'" (click)="deleteDocument()" [size]="'small'" outline>Delete Document Type</button>
                            </div>
                            <ng-template #elseBlock>
                                <div class="buttons-row">
                                    <button type="button" (click)="addDocument()" nbButton [status]="'success'" [size]="'small'" outline>Add Document Type</button>
                                </div>
                            </ng-template>
                        </div>

                    </div>
                </form>

            </ngx-tree-form-list>
        </div>
    </div>

</section>