<section class="content dashboard container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <nb-card>
                <nb-card-header>Area Driver Pie Chart</nb-card-header>
                <nb-card-body>
                    <ngx-charts-pie-chart [scheme]="colorScheme" [results]="area_driver_results" [legend]="showLegend" [labels]="showLabels">
                    </ngx-charts-pie-chart>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-lg-12">
            <nb-card>
                <nb-card-header> Top 10 Networks Bookings Bar Chart</nb-card-header>
                <nb-card-body>
                    <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="network_booking_results" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</section>