<div class="image-input-wrapper">
    <div class="file-input-wrapper ">
        <button class="select-file btn btn-dark" type="button">{{ button_title }}</button>
        <ng-content></ng-content>
    </div>
    <div [class]="'section-image '+ 'manage-image-crop'" (click)="openCropper()">
        <img src="{{cropped_image}}" class="image-preview">
    </div>
</div>
<ng-template #cropper>
    <nb-card class="modal-content">
        <nb-card-header class="text-center modal-header">Image Cropper<button (click)="closeCropper()" class="float-right close-button"><i class="fa fa-times"></i></button></nb-card-header>
        <nb-card-body>
            <div style=" width: 800px;">
                <div style="height: 500px;">
                    <angular-cropper #crop (ready)="cropChanged(crop)" (cropend)="cropChanged(crop)" [cropperOptions]="config" [imageUrl]="imageUrl"></angular-cropper>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button (click)="closeCropper()" class="float-right btn btn-primary">Crop</button>
        </nb-card-footer>
    </nb-card>
</ng-template>
