
.manage-image-crop:hover {
    background: #ddd;
    opacity: 0.5;
    cursor: pointer;
}

.btn-dark {
    background-color: #192038;
    border-color: #101426;
}

.file-input-wrapper {
    position: relative;
    width: 90%;
}

input.file {
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
}

.select-file {
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    border-bottom: none;
    font-size: 18px;
    padding-bottom: 0;
}

.close-button {
    background: transparent;
    color: #8f9bb3;
    margin: 0 4px;
    border: 2px solid #8f9bb3;
    padding: 4px 8px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    &:hover {
        color: #fff;
    }
}

.close-button:focus {
    outline: none;
}
