<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'page'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<div id="grid-wrapper" style="width:100%; height: 90%">
    <ngx-table-header [(filterText)]="filterText"
                      [(paginationNumber)]="paginationNumber"
                      (paginationChanged)="onPageSizeChanged()"
                      (searchChanged)="onFilterTextBoxChanged()">
    </ngx-table-header>
    <ag-grid-angular style="width: 100%; height: 90%;"
                     id="myGrid"
                     [class]="ag_class"
                     [columnDefs]="columnDefs"
                     [defaultColDef]="defaultColDef"
                     [rowData]="rowData"
                     [animateRows]="true"
                     (firstDataRendered)="onFirstDataRendered($event)"
                     (gridSizeChanged)="onGridSizeChanged($event)"
                     (gridReady)="onGridReady($event)"
                     [pagination]="true"
                     [rowModelType]="'infinite'"
                     [cacheBlockSize]="paginationCount"
                     [paginationPageSize]="paginationCount">
  
    </ag-grid-angular>
  </div>