<svg class="checked" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512" height="512">
                                        <g id="XMLID_700_">
                                            <g id="XMLID_684_">
                                                <g id="XMLID_685_">
                                                    <path id="XMLID_699_" d="M462,172c2.63,0,5.21-1.07,7.069-2.931C470.93,167.21,472,164.63,472,162s-1.07-5.21-2.931-7.07     c-1.859-1.86-4.439-2.93-7.069-2.93s-5.21,1.069-7.07,2.93S452,159.37,452,162s1.069,5.21,2.93,7.069     C456.79,170.93,459.37,172,462,172z"/>
                                                  <path id="XMLID_698_" d="M196.5,443.667h-0.149c-5.522,0-10,4.478-10,10s4.478,10,10,10h0.149c5.522,0,10-4.478,10-10     S202.022,443.667,196.5,443.667z"/>
                                                  <path id="XMLID_691_" d="M512,401.591V70c0-16.542-13.458-30-30-30h-34.254v-6c0-18.748-15.252-34-34-34s-34,15.252-34,34v6     h-89.873v-6c0-18.748-15.252-34-34-34s-34,15.252-34,34v6H132v-6c0-18.748-15.252-34-34-34S64,15.252,64,34v6H30     C13.458,40,0,53.458,0,70v412c0,16.542,13.458,30,30,30h371.591c2.76,0,5.259-1.119,7.068-2.927     c0.001-0.001,0.002-0.001,0.003-0.002l100.409-100.409l0,0C510.88,406.852,512,404.352,512,401.591z M399.746,34     c0-7.72,6.28-14,14-14s14,6.28,14,14v49c0,7.72-6.28,14-14,14s-14-6.28-14-14V34z M241.873,34c0-7.72,6.28-14,14-14     s14,6.28,14,14v49c0,7.72-6.28,14-14,14s-14-6.28-14-14V34z M84,34c0-7.72,6.28-14,14-14s14,6.28,14,14v49c0,7.72-6.28,14-14,14     s-14-6.28-14-14V34z M20,482v-18.333h136.5c5.522,0,10-4.478,10-10s-4.478-10-10-10H20V172h402c5.522,0,10-4.478,10-10     s-4.478-10-10-10H20V70c0-5.514,4.486-10,10-10h34v23c0,18.748,15.252,34,34,34s34-15.252,34-34V60h89.873v23     c0,18.748,15.252,34,34,34s34-15.252,34-34V60h89.873v23c0,18.748,15.252,34,34,34s34-15.252,34-34V60H482     c5.514,0,10,4.486,10,10v321.591h-70.409c-16.542,0-30,13.458-30,30V492H30C24.486,492,20,487.514,20,482z M411.591,477.857     v-56.267c0-5.514,4.486-10,10-10h56.267L411.591,477.857z"/>
                                                  <path id="XMLID_690_" d="M196.061,350.513V316v-34.513c0-10.745-8.742-19.487-19.487-19.487h-43.313c-5.522,0-10,4.478-10,10     s4.478,10,10,10h42.8v24h-42.8c-5.522,0-10,4.478-10,10s4.478,10,10,10h42.8v24h-42.8c-5.522,0-10,4.478-10,10s4.478,10,10,10     h43.313C187.318,370,196.061,361.258,196.061,350.513z"/>
                                                  <path id="XMLID_687_" d="M282.86,282c5.522,0,10-4.478,10-10s-4.478-10-10-10h-43.313c-10.745,0-19.487,8.742-19.487,19.487V316     v34.513c0,10.745,8.742,19.487,19.487,19.487h33.825c10.745,0,19.487-8.742,19.487-19.487v-25.025     c0-10.745-8.742-19.487-19.487-19.487H258.66h-18.6v-24H282.86z M258.66,326h14.2v24h-32.8v-24H258.66z"/>
                                                  <path id="XMLID_686_" d="M370.173,306h-16.912h-16.4v-24h42.8c5.522,0,10-4.478,10-10s-4.478-10-10-10h-43.313     c-10.745,0-19.487,8.742-19.487,19.487v25.025c0,10.745,8.742,19.487,19.487,19.487h16.913h16.399v24h-42.8     c-5.522,0-10,4.478-10,10s4.478,10,10,10h43.313c10.745,0,19.487-8.742,19.487-19.487v-25.025     C389.66,314.742,380.918,306,370.173,306z"/>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
