<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'model'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<div id="grid-wrapper" style="width:100%; height: 90%">
  <ag-grid-angular #agGrid style="width: 100%; height: 90%;"
                   id="myGrid"
                   class="ag-theme-alpine-dark"
                   [columnDefs]="columnDefs"
                   [defaultColDef]="defaultColDef"
                   [rowData]="rowData"
                   [animateRows]="true"
                   (firstDataRendered)="onFirstDataRendered($event)"
                   (gridSizeChanged)="onGridSizeChanged($event)"
                   (gridReady)="onGridReady($event)"
                   [pagination]="true"></ag-grid-angular>
</div>
