<ngx-content-header [breadcrumbs]="breadcrumbs"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid">
    <nb-card>
        <nb-card-body>
            <form method="POST" (ngSubmit)="submitForm()" enctype="multipart/form-data" #faqForm="ngForm" class="form-wrap">
                <div class="form-group">
                    <label>Page Title</label>
                    <input type="text" nbInput name="title" ngModel #title="ngModel" [(ngModel)]="faqResponse.title" class="input-full-width size-medium status-basic" placeholder="Enter Page Title" required>
                    <ngx-validation-error [notValid]="notValid(title)" [valid]="valid(title)"></ngx-validation-error>
                </div>
                <div class="row" *ngIf="!faqResponse.id">
                    <div class="col-sm-6">
                        <label>Category</label><br>
                        <nb-select (selectedChange)="selectCategoryId($event)">
                            <nb-option *ngFor="let category of categoryResponse" [value]="category.id">{{category.name}}</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-sm-6">
                        <label>Order</label>
                        <input type="text" nbInput name="order" ngModel #order="ngModel" [(ngModel)]="faqResponse.order" class="input-full-width size-medium status-basic" placeholder="Enter Sort Order" required>
                        <ngx-validation-error [notValid]="notValid(order)" [valid]="valid(order)"></ngx-validation-error>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea nbInput fullWidth name="description" #description="ngModel" [(ngModel)]="faqResponse.description" placeholder="Enter Description" required="required"></textarea>
                    <ngx-validation-error [notValid]="notValid(description)" [valid]="valid(description)"></ngx-validation-error>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="!faqForm.form.valid" nbButton [status]="'success'" [size]="'small'" outline>Save Page</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</section>