<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'info'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid">
    <nb-card>
        <nb-card-body>
            <form>
                <h6>Website Info</h6>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>Name</label><br>
                        <input type="text" name="name" class="form-control status-basic" nbInput value="{{info.name}}" required="">
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Email</label><br>
                        <input type="email" name="email" class="form-control status-basic" nbInput value="{{info.email}}" required="">
                    </div>
                    <div class="form-group col-sm-4">
                        <label>phone</label><br>
                        <input type="text" name="phone" class="form-control status-basic" nbInput value="{{info.phone}}" required="">
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Logo</label><br>
                        <ngx-image-input [imageUrl]="info.image_url"></ngx-image-input>
                    </div>
                    <div class="form-group col-sm-8">
                        <label>Footer Text</label>
                        <input type="text" name="footer_text" class="form-control status-basic" nbInput value="{{info.footer_text}}" required="">
                    </div>
                </div>
                <h6>Social Info</h6>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Facebook</label><br>
                        <input type="url" name="facebook" class="form-control status-basic" nbInput value="{{info.facebook}}">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Twitter</label><br>
                        <input type="url" name="twitter" class="form-control status-basic" nbInput value="{{info.twitter}}">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Google +</label><br>
                        <input type="url" name="google" class="form-control status-basic" nbInput value="{{info.google}}">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>LinkedIn</label><br>
                        <input type="url" name="linkedin" class="form-control status-basic" nbInput value="{{info.linkedin}}">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Youtube </label><br>
                        <input type="url" name="youtube" class="form-control status-basic" nbInput value="{{info.youtube}}">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Instagram</label><br>
                        <input type="url" name="instagram" class="form-control status-basic" nbInput value="{{info.instagram}}">
                    </div>

                    <div class="form-group col-sm-12">
                        <button type="submit" class="btn btn-success">Save Page Info</button>
                    </div>
                </div>

            </form>
        </nb-card-body>
    </nb-card>
</section>
