.section-image img {
    position: absolute;
    top: 0;
    right: -10px;
    padding: 4px;
    width: 60px;
    height: 60px;
}

h4 {
    width: 100%;
}

.content h6 {
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #343e5d;
    padding-bottom: 4px;
    margin-bottom: 16px;
    color: #8f9bb3;
}

label {
    color: #8f9bb3;
    font-weight: 700;
    // font-size: .75rem;
}

.content input {
    font-size: 14px;
    height: 40px;
}