<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'area'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid">
    <nb-card>
        <nb-card-body>
            <form action="" (ngSubmit)="saveArea()" #areaForm="ngForm">
                <div class="row">
                    <div class="form-group col-sm-8">
                        <google-map #map [options]="options" width="100%" height="33.5625rem">
                        </google-map>
                        <br>
                        <button type="button" class="btn btn-outline btn-outline-info" (click)="init_draw_tools()">{{'Draw'}}</button>
                        <button type="submit" [disabled]="!areaForm.form.valid" class="btn btn-outline btn-outline-success">{{ editMode ? 'Update' : 'Save' }}</button>
                    </div>
                    <div class=" form-group col-sm-4">
                        <div class="form-group col-sm-12 {{ notValid(name) ? 'error' : ''}}">
                            <label> Area Name</label>
                            <input type="text" name="name" #name="ngModel" [(ngModel)]="area.name" required #searchInput class="form-control status-basic" nbInput fullWidth>
                            <span class="icon validation small error" *ngIf="notValid(name)">
                                    <span class="fa fa-times"></span>
                            </span>
                            <span class="icon validation small success" *ngIf="valid(name)">
									<span class="fa fa-check"></span>
                            </span>
                        </div>
                        <div class=" form-group col-sm-12">
                            <nb-checkbox status="success" [checked]="area.autoSearch" #autoSearch>Auto Search Zone</nb-checkbox>
                        </div>
                        <h6 class="text-center">Found Polygons</h6>
                        <nb-list>
                            <nb-list-item *ngFor="let poly of found_polygons | keyvalue ;" [class]="poly.key == current_plotted ? 'active' : ''" (click)="plotToMap(poly)">
                                <div class="poly-title" style="width: 90%;">
                                    <span class="title">{{poly.value.display_name}}</span>
                                </div>
                                <div class="poly-source">
                                    <span>
                    <i class="fa fa-globe"></i>
                  </span>
                                </div>
                            </nb-list-item>
                        </nb-list>
                    </div>
                </div>
            </form>

        </nb-card-body>
    </nb-card>
</section>