
.nb-theme-default .active{
  background: #c8daf5;
}
.nb-theme-dark  .active{
  background: #192038;
}
nb-list-item:hover {
 cursor : pointer;
}
.error input, .input-wrap.is-invalid select, .input-wrap.is-invalid textarea {
  border: 1px solid #ff0022;
}
.icon.error {
  background: #ff0022;
}
.icon.success {
  background: #00aa11;
}
.icon.validation {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 35%;
  right: 1%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-size: 0.4rem;
  text-align: center;
  line-height: 0.9rem;
  color: #fff;
}
