<div class="login-box">
  <div class="login-logo">
    <b>133 VIP</b> Admin
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Admin Login Form</p>
    <form  (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group has-feedback">
        <input type="email" email [(ngModel)]="model.email" name="email" id="email" required  placeholder="Email"  class="form-control" #email="ngModel">

        <div *ngIf="email.invalid && email.touched"
             class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
          <div *ngIf="email.errors.email">
            Only Email Allowed
          </div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <input type="password" [(ngModel)]="model.password" #password="ngModel" name="password"  id="password" required  placeholder="Password" class="form-control" >
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
             class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Password is required.
          </div>

        </div>
      </div>
      <div *ngIf="authFailed" class="alert alert-danger">
        <div>
         {{ authFailedError }}
        </div>

      </div>
      <div class="form-group has-feedback">
        <input type="checkbox" name="remember" id="remember-me"><ins class="iCheck-helper" ></ins>
        <label for="remember-me" stye="cursor: pointer;"> Remember Me</label> 
      </div>
      <div class="form-group has-feedback">
        <button type="submit" [disabled]="!loginForm.form.valid || submitting" class="btn btn-primary btn-block btn-flat">Sign In</button>
        &nbsp; <div  *ngIf="submitting"><i class="fa fa-spinner fa-spin"></i> Logging In</div>
        
      </div>
    </form>

    <!-- /.social-auth-links -->

    <a class="btn btn-link" [routerLink]="['/request-password']">
      Forgot Your Password?
    </a>

  </div>
</div>

