<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'sms'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="box-body">
    <div class="box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <h3>Twillo SMS Settings </h3>
                        <div class="box-bods">
                            <div >
                                <form>
                                        <div class="form-group-wrapper">
                                            <div class="form_card">
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label>Vendor</label><br>
                                                        <select name="vendor" class="form-control">
                                                            <option value="twillo">Twillo</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label>Account SID</label><br>
                                                        <input type="text" name="account_sid" class="form-control"
                                                            value="" required>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label>Auth Token</label><br>
                                                        <input type="text" name="auth_token" class="form-control"
                                                            value="" required>
                                                    </div>

                                                    <div class="form-group col-sm-6">
                                                        <label>From Number</label><br>
                                                        <input type="text" name="from" class="form-control"
                                                            value="">
                                                    </div>
                                                    <div class="form-group col-sm-6 checkbox">
                                                        <label for="twillo-trail" class="is_flex">
                                                            <input 
                                                                id="twillo-trail" type="checkbox" name="sandbox"
                                                                value="1">
                                                            Twillo Trail Account 
                                                            </label>
                                                    </div>
                                                    <div class="form-group col-sm-6" id="twillo-trail-div" >
                                                        <label>1 Verified Number</label><br>
                                                        <input type="text" name="verified_number" class="form-control"
                                                            value="">
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div
                                                            class="payment-loader">
                                                            <div class="load-checkmark draw" >
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>


                                                        <button type="submit" class="btn btn-primary btn-block" disabled >
                                                            Save Changes
                                                        </button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</section>