.list-group-item label {
    color: black;
    width: 95%;
}

input.menu {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    outline: none;
    height: 30px;
    transition: height 1s;
    -webkit-transition: height 1s;
}

.half-block {
    margin: 20px 16px;
    h6 {
        font-size: 20px;
        font-weight: 500;
        padding: 15px 0px 0px;
        color: #0c84fe;
        margin-bottom: 10px;
    }
    ul li {
        margin-bottom: 8px;
        border-radius: 5px;
        padding: 4px 16px;
        background: #192038;
        &:hover {
            background: #151a30;
        }
        input {
            color: #fff;
            width: 50%;
        }
    }
}