<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'menu'"></ngx-content-header>
<div class="half-block">
  <div class="row">
    <div class="col-sm-6">
      <h6>All Menu</h6>
      <ngx-tree-list [nodes]="menu_nodes"></ngx-tree-list>
    </div>
    <div class="col-sm-6">
      <h6>All Footer Menu</h6>
      <ngx-tree-list [nodes]="footer_nodes"></ngx-tree-list>
    </div>
  </div>
</div>

