<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'email'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>

<section class="box-body">
    <div class="box">
        <div class="container-fluid">
         <div class="row">
            <div class="col-md-6 col">
                <div class="box">
                        <h3>Mail smtp Settings </h3>
                    <div class="box-bodys">
                        <div class="form_card">
                                 <form>
                                <div class="form-group-wrapper">
                                    <div class="row">
                                        <div class="col-md-6">
                                     <div class="form-group">
                                        <label>Driver</label><br>
                                        <select name="driver"  class="form-control">
                                            <option value="smtp">SMTP</option>
                                        </select>
                                    </div> 
                                    </div> 
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Host</label><br>
                                        <input type="text" name="host" class="form-control" value="" required>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Port</label><br>
                                                <input type="text" name="port" class="form-control" value="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Encryption</label><br>
                                                <select name="encryption"  class="form-control">
                                                    <option value="ssl">SSL</option>
                                                    <option value="tls">TLS</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label>Username</label><br>
                                        <input type="text" name="username" class="form-control" value="" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label><br>
                                        <input type="text" name="password" class="form-control" value="" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Mail From Address</label><br>
                                        <input type="text" name="from[address]" class="form-control" value="">
                                    </div>
                                    <div class="form-group">
                                        <label>Mail From Name</label><br>
                                        <input type="text" name="from[name]" class="form-control" value="">
                                    </div>
                                </div>
                                <hr>
                                <div class="payment-loader" >
                                    <div class="load-checkmark draw" style="display: none;"></div>
                                </div>
                                <div class="clearfix"></div>
 
                                <button type="submit" class="btn btn-style btn-block" disabled >
                                     Changes
                                </button>
                                <button class="btn btn-default btn-block gateway-check" id="smtp-check" type="button"  style="font-size: 16px; font-weight: 300;"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        </div>
    </div>

</section>