<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'page'">
</ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid">
    <nb-card>
        <nb-card-body>
            <form method="POST" (ngSubmit)="submitForm(pageForm)" enctype="multipart/form-data" #pageForm="ngForm" class="form-wrap">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group {{ notValid(name) ? 'error' : ''}}">
                            <label>Page Name</label>
                            <input nbInput type="text" name="name" #name="ngModel" [(ngModel)]="page.name" class="input-full-width size-medium status-basic" value="" placeholder="Page Name" required>
                            <ngx-validation-error [notValid]="notValid(name)"  [valid]="valid(name)"></ngx-validation-error>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>Status</label>
                        <nb-select  name="status" [(ngModel)]="page.status">
                            <nb-option [value]="1">Active</nb-option>
                            <nb-option [value]="0">Inactive</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-sm-3">
                        <label>Menu Group</label>
                        <nb-select name="menu_group" [(ngModel)]="page.menu_group">
                            <nb-option [value]="''">No Group</nb-option>
                            <nb-option [value]="'city'">City</nb-option>
                            <nb-option [value]="'fleet'">Car</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-sm-3">
                        <label>Show In Menu</label>
                        <nb-select name="menu_status" [(ngModel)]="page.menu_status">
                            <nb-option [value]="1">Yes</nb-option>
                            <nb-option [value]="0">No</nb-option>
                        </nb-select>
                    </div>
                    <div class="clearfix"></div>
                    <div id="page-form-container">
                        <div class="box box-solid" *ngFor="let section_id of current_sections;">
                            <nb-card *ngIf="getSection(section_id); let section">
                                <nb-card-body>
                                    <div class="box-header">
                                        <span> {{ section.name }} </span>
                                        <div class="box-tools">
                                            <nb-select name="sections[{{section.id}}][layout]" [(ngModel)]="section.data.layout" (selectedChange)="layoutChanged(section)" *ngIf="section.layouts !== undefined && section.layouts.length > 0"  class="section-layout-select">
                                                <nb-option [value]="layout.id" *ngFor="let layout of section.layouts">
                                                    {{layout.title}}
                                                </nb-option>
                                            </nb-select>
                                            <button type="button" class="" (click)="moveUpSection(section)">

                                              <i class="fa fa-arrow-up"></i>
                                            </button>
                                            <button type="button" class="" (click)="moveDownSection(section)">
                                              <i class="fa fa-arrow-down"></i>
                                            </button>
                                            <button type="button" class="" (click)="removeSection(section)">
                                              <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body border-radius-none">
                                        <div class="section-form">
                                            <div class="row" *ngIf="section.fields !== undefined && section.fields.length > 0">
                                                <div *ngFor="let field of section.fields" class="col-md-{{field.id=='html' ? '12' : '4'}}">
                                                    <label>{{field.name}} <span class="text-danger">*</span></label>
                                                    <div [ngSwitch]="field.id">
                                                        <ng-container *ngSwitchCase="field.id === 'title' || field.id === 'extra' ? field.id : ''">
                                                            <input name="sections[{{section.id}}][{{field.id}}]" #fieldTitle="ngModel" [(ngModel)]="section.data[field.id]" type="text" placeholder="Enter {{field.name}}" class="input-full-width size-medium status-basic" fullWidth nbInput required>
                                                            <ngx-validation-error [notValid]="notValid(fieldTitle)" [valid]="valid(fieldTitle)"></ngx-validation-error>
                                                        </ng-container>
                                                        <ng-container *ngSwitchCase="'image'">
                                                            <ngx-image-input #imgInput [imageUrl]="section.data.image_path"  [aspectRatioX]="section.fieldAspectRatioX" [aspectRatioY]="section.fieldAspectRatioY">
                                                                <ngx-validation-error class="image-input" [notValid]="notValid(fieldImage)" [valid]="valid(fieldImage)"></ngx-validation-error>
                                                                <input type="hidden"  [(ngModel)]="imgInput.cropped_data"  name="sections[{{section.id}}][image_crop]" >
                                                                <input type="file" #fieldImage="ngModel" [(ngModel)]="section.data.image" class="image-input file" name="sections[{{section.id}}][image]" accept="image/*" [required]="section.data.id === undefined" (change)="imgInput.openCropper($event,fieldImage)">
                                                            </ngx-image-input>
                                                        </ng-container>
                                                        <ng-container *ngSwitchCase="'select'">
                                                            <nb-select #fieldSelect="ngModel" required  [(ngModel)]="section.data.select"  name="sections[{{section.id}}][{{field.id}}]">
                                                                <nb-option [value]="''">Select {{field.name}}</nb-option>
                                                                <nb-option [value]="selectOpt.value" *ngFor="let selectOpt of getSelectOptions(field.type)">
                                                                  {{selectOpt.name}}
                                                                </nb-option>
                                                            </nb-select>
                                                            <ngx-validation-error [notValid]="notValid(fieldSelect)" [valid]="valid(fieldSelect)"></ngx-validation-error>
                                                        </ng-container>
                                                        <ng-container *ngSwitchCase="'detail'">
                                                            <textarea required #fieldText="ngModel" [(ngModel)]="section.data.detail" rows="4" cols="41" nbInput  name="sections[{{section.id}}][{{field.id}}]" placeholder="Enter Quote Detail" class="status-basic"></textarea>
                                                            <ngx-validation-error [notValid]="notValid(fieldText)" [valid]="valid(fieldText)"></ngx-validation-error>
                                                        </ng-container>
                                                        <ng-container *ngSwitchCase="'html'">
                                                            <input type="hidden" name="sections[{{section.id}}][{{field.id}}]"  #fieldHtml="ngModel" [(ngModel)]="section.data.html" required  >
                                                            <ngx-admin-tiny-mce (editorKeyup)="setEditorValue($event,section)" [initialContent]="section.data.html"></ngx-admin-tiny-mce>
                                                            <ngx-validation-error [notValid]="notValid(fieldHtml)" [valid]="valid(fieldHtml)"></ngx-validation-error>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                            <div *ngIf="section.lists !== undefined && section.lists.fields !== undefined && section.lists.fields.length > 0">
                                                <!-- <h5 class="text-center">{{section.name}} Lists</h5> -->
                                                <div class="section-list-wrapper">
                                                    <div class="section-list clearfix">
                                                        <div *ngFor="let i of  section.listNumberArray">
                                                            <div class="row" style="margin-bottom: 24px;">
                                                                <div class="col-md-1" >
                                                                    <p>&nbsp;</p>
                                                                    <button type="button" class="move-up-section-list" >
                                                                      <i class="fa fa-arrow-up"></i>
                                                                    </button>
                                                                    <button type="button" class="move-down-section-list">
                                                                      <i class="fa fa-arrow-down"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="col-md-11">
                                                                    <div class="row">
                                                                        <div *ngFor="let field of section.lists.fields" class="col-md-{{field.id=='html' ? '12' : '4'}}">
                                                                            <label *ngIf="i==0">{{field.name}} <span class="text-danger">*</span></label>
                                                                            <label *ngIf="i!=0">&nbsp; <span class="text-danger">*</span></label>
                                                                            <div [ngSwitch]="field.id">
                                                                                <ng-container *ngSwitchCase="field.id === 'title' || field.id === 'extra' ? field.id : ''">
                                                                                    <input fullWidth  #fieldTitle="ngModel" [(ngModel)]="section.lists.data[i][field.id]" type="text" placeholder="Enter {{field.name}}" class="input-full-width size-medium status-basic" name="sections[{{section.id}}][list][{{i}}][{{field.id}}]"  nbInput
                                                                                        required>
                                                                                    <ngx-validation-error [notValid]="notValid(fieldTitle)" [valid]="valid(fieldTitle)"></ngx-validation-error>
                                                                                </ng-container>
                                                                                <ng-container *ngSwitchCase="'image'">
                                                                                    <ngx-image-input #imgInput [imageUrl]="section.lists.data[i].image_path" [aspectRatioX]="section.listAspectRatioX" [aspectRatioY]="section.listAspectRatioY">
                                                                                        <ngx-validation-error class="image-input" [notValid]="notValid(fieldImage)" [valid]="valid(fieldImage)"></ngx-validation-error>
                                                                                        <input type="file" #fieldImage="ngModel" [(ngModel)]="section.lists.data[i].image" class="image-input file" name="sections[{{section.id}}][list][{{i}}][{{field.id}}]"  accept="image/*" [required]="section.lists.data[i].id === undefined" (change)="imgInput.openCropper($event,fieldImage)">
                                                                                    </ngx-image-input>
                                                                                </ng-container>
                                                                                <ng-container *ngSwitchCase="'select'">
                                                                                    <nb-select #fieldSelect="ngModel" required [(ngModel)]="section.lists.data[i].select"  name="sections[{{section.id}}][list][{{i}}][{{field.id}}]" >
                                                                                        <nb-option value="''">Select {{field.name}}</nb-option>
                                                                                        <nb-option [value]="selectOpt.value" *ngFor="let selectOpt of getSelectOptions(field.type)">
                                                                                            {{selectOpt.name}}
                                                                                          </nb-option>
                                                                                    </nb-select>
                                                                                    <ngx-validation-error [notValid]="notValid(fieldSelect)" [valid]="valid(fieldSelect)"></ngx-validation-error>
                                                                                </ng-container>
                                                                                <ng-container *ngSwitchCase="'detail'">
                                                                                    <textarea required #fieldText="ngModel" [(ngModel)]="section.lists.data[i].detail" rows="4" cols="41" nbInput name="sections[{{section.id}}][list][{{i}}][{{field.id}}]"  placeholder="Enter Quote Detail" class="status-basic"></textarea>
                                                                                    <ngx-validation-error [notValid]="notValid(fieldText)" [valid]="valid(fieldText)"></ngx-validation-error>
                                                                                </ng-container>
                                                                                <ng-container *ngSwitchCase="'html'">
                                                                                    <input type="hidden" name="sections[{{section.id}}][list][{{i}}][{{field.id}}]"  required #fieldHtml="ngModel" [(ngModel)]="section.lists.data[i].html"  >
                                                                                    <ngx-admin-tiny-mce (editorKeyup)="setEditorListValue($event,section.lists.data[i])" [initialContent]="section.lists.data[i].html"></ngx-admin-tiny-mce>
                                                                                    <ngx-validation-error [notValid]="notValid(fieldHtml)" [valid]="valid(fieldHtml)"></ngx-validation-error>
                                                                                </ng-container>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="" *ngIf="section.lists !== undefined && section.lists.allow_add_remove">
                                                        <button type="button" class="move-down-section-list" (click)="addList(section)">
                                                            <i class="fa fa-plus"></i>
                                                          </button>
                                                        <button type="button" class="move-down-section-list" (click)="removeList(section)">
                                                            <i class="fa fa-minus"></i>
                                                          </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </div>

                        <div id="add-new-section" (click)="open(dialog)">
                            <h3 class="text-center add-section-icon" id="add-section"><i class="fa fa-plus"></i></h3>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" [disabled]="!pageForm.form.valid" nbButton [status]="'success'" [size]="'small'" outline>Save Page</button>
                        </div>
                    </div>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</section>
<div class="add-section">
    <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card class="modal-content">
            <nb-card-header class="text-center modal-header">Select Section <button (click)="ref.close()" class="float-right close-button"><i class="fa fa-times"></i></button></nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div *ngFor="let section of sections" (click)="appendSectionHtml(section.id)">
                        <div class="col-md-3" *ngIf="isInCurrent(section.id)">
                            <div class="section-box  model-section-wrapper" data-key="quote">
                                <h6 class="text-center">{{section.name}}</h6>
                                <img src="{{section.image}}" class="img-fluid model-section-image">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </ng-template>
</div>
