section.content {
    width: 100%;
    padding: 6px 20px 0 20px;
}

img {
    max-width: 100%;
    /* This rule is very important, please do not ignore this! */
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    .btn {
        margin-top: 6px;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 8px 15px 0 24px;
    h5 {
        font-size: 18px;
    }
}

#page-form-container {
    width: 100%;
}

#add-new-section {
    cursor: pointer;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #8f9bb3;
    margin: 10px 14px;
    h3 i {
        color: #8f9bb3;
    }
}

.add-section-icon i.fa {
    font-size: 40px;
    margin-top: 50px;
}

.section-box i {
    font-size: 32px;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 42%;
    color: #fff;
    display: none;
}

.section-box {
    height: 108px;
    width: 174px;
    margin: 10px 8px;
}

.section-box h6 {
    font-size: 15px;
    font-weight: 500;
}

.section-box:hover {
    cursor: pointer;
}

.section-box:hover i {
    display: block;
}

.section-image {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
}

.section-image img {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    width: 60px;
    height: 60px;
}

.section-box:hover .model-section-image {
    filter: brightness(60%);
}

.image-upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -9px;
}

.model-section-wrapper {
    position: relative;
}

.model-section-image {
    position: absolute;
    top: 32px;
}

.modal-lg {
    width: 1490px !important;
}

.close-button {
    background: transparent;
    color: #8f9bb3;
    margin: 4px;
    border: 2px solid #8f9bb3;
    padding: 4px 8px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    &:hover {
        color: #fff;
    }
}

.close-button:focus {
    outline: none;
}

.box {
    border: 1px solid #8f9bb3;
    margin: 10px 16px;
    border-radius: 4px;
    padding: 24px;
    margin-top: 24px;
}

.manage-image-crop:hover {
    background: #ddd;
    opacity: 0.5;
    cursor: pointer;
}

.section-box-icon {
    display: none;
}

.section-box-icon i.fa {
    font-size: 40px;
    margin-top: 25px;
}

.section-box:hover .section-box-icon {
    display: block;
}

.list-button-wraper {
    margin: 15px 10px 10px 10px;
}

.btn-sm.move-up-section-list,
.btn-sm.move-down-section-list {
    font-size: 9px;
}

#img-preview {
    margin-bottom: .5rem;
    margin-right: .5rem;
    overflow: hidden;
}

#img-preview>img {
    max-width: 100%;
}

.preview-lg {
    height: 7rem;
    width: 13rem;
    margin-top: 15px;
}

#input-image-show {
    width: 100% !important;
}

.form-wrap nb-select {
    width: 100%;
}

.form-wrap label {
    color: #8f9bb3;
}
input.image-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
}

.box-header {
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #192038;
    padding-bottom: 8px;
    span {
        font-size: 18px;
    }
}

.box-tools {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    button {
        background: transparent;
        color: #8f9bb3;
        margin: 0 4px;
        border: 2px solid #8f9bb3;
        padding: 4px 8px;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        &:hover {
            color: #fff;
            background: #222B45;
        }
    }
}

.section-layout-select {
    margin-right: 10px;
}

.breadcrumb-wrapper {
    float: right;
    margin-right: 10px;
}

.box-body button {
    background: transparent;
    height: 32px;
    width: 32px;
    border: 2px solid #7b869f;
    border-radius: 50%;
    color: #7b869f;
    margin-right: 4px;
    &:hover {
        color: #fff;
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    border-bottom: none;
    font-size: 18px;
    padding-bottom: 0;
}

.modal-content {
    max-width: 83.1% !important;
    margin: 50px auto !important;
    height: 500px;
    overflow-y: scroll;
}
.section-list{
    margin-top: 22px;
    button{
        margin-bottom: 4px;
    }
}
.buttons-row {
    justify-content: space-between;
}
