<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'driver'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<div id="grid-wrapper" style="width:100%; height: 90%">
  <div class="example-header">
    <nb-select (selectedChange)="onPageSizeChanged()"  [size]="'small'" [(ngModel)]="paginationNumber">
      <nb-option value="10">10</nb-option>
      <nb-option value="20">20</nb-option>
      <nb-option value="50">50</nb-option>
      <nb-option value="100">100</nb-option>
      <nb-option value="500">500</nb-option>
    </nb-select>
    <input fieldSize="small" type="text" class="float-right" nbInput placeholder="Search" [(ngModel)]="filterText" (input)="onFilterTextBoxChanged()">
  </div>
  <ag-grid-angular style="width: 100%; height: 90%;" id="myGrid" [class]="ag_class" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowData]="rowData" [animateRows]="true"
                   (firstDataRendered)="onFirstDataRendered($event)" (gridSizeChanged)="onGridSizeChanged($event)"
                   (gridReady)="onGridReady($event)" [pagination]="true" [rowModelType]="'infinite'"
                   [cacheBlockSize]="paginationCount" [paginationPageSize]="paginationCount">
  </ag-grid-angular>
</div>
