<ngx-content-header [menus]="menus" [breadcrumbs]="breadcrumbs" [current]="'terms'"></ngx-content-header>
<ngx-page-header [headerData]="headerData"></ngx-page-header>
<section class="content container-fluid" >
    <nb-card>
        <nb-card-body *ngIf="contentLoaded">
            <form method="POST" (ngSubmit)="submitDriverForm(driverForm)" enctype="multipart/form-data" #driverForm="ngForm" class="form-wrap">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Heading</label>
                            <ngx-admin-tiny-mce (editorKeyup)="setEditorValue($event,'heading')" [initialContent]="term.heading"></ngx-admin-tiny-mce>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Detail</label>
                            <ngx-admin-tiny-mce (editorKeyup)="setEditorValue($event,'detail')" [initialContent]="term.detail"></ngx-admin-tiny-mce>
                        </div>
                    </div>   
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" [disabled]="!driverForm.form.valid" nbButton  outline>Update Driver Terms</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
    </section>