<nb-layout windowMode>
    <nb-layout-header fixed>
        <ngx-admin-auth-header></ngx-admin-auth-header>
    </nb-layout-header>

    <nb-layout-column>
        <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <ngx-admin-auth-footer></ngx-admin-auth-footer>
    </nb-layout-footer>
</nb-layout>