.header-nav h5 {
    font-size: 18px;
    font-weight: 500;
    padding-left: 12px;
    color: #8f9bb3;
}

.header-nav a {
    font-size: 14px;
    font-weight: 14px;
    color: #fff;
}

.header-nav {
    padding: 8px 10px;
}

.header-nav .btn-outline {
    padding: 6px 12px;
    color: #8f9bb3;
    border: 1px solid #8f9bb3;
    &:hover {
        color: #fff;
    }
}

.header-rt-blc {
    display: flex;
    justify-content: space-between;
    .btn-outline {
        margin-left: 20px;
    }
}

.form-wrap nb-select {
    width: 100%;
}

.modal-lg {
    width: 500px !important;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    border-bottom: none;
    font-size: 18px;
    padding-bottom: 0;
}

.modal-content {
    max-width: 83.1% !important;
    margin: 50px auto !important;
    height: 500px;
    overflow-y: scroll;
}